Repository ithaka/pharos, pull requests merged in 2021-08, with the labels that each got.

#189 fix(combobox): clear input when value is reset
  .changeset/wicked-waves-sparkle.md
  packages/pharos/src/components/combobox/pharos-combobox.test.ts
  packages/pharos/src/components/combobox/pharos-combobox.ts
Labels: component/combobox, ithaka/pharos, note/bug fix, status/code review

#190 fix(combobox): stop button from receiving focus
  .changeset/pretty-impalas-explain.md
  packages/pharos/src/components/combobox/pharos-combobox.test.ts
  packages/pharos/src/components/combobox/pharos-combobox.ts
Labels: accessibility, component/combobox, status/ready to test

#191 docs(pharos-site): add toggle button group documentation
  .changeset/yellow-turtles-watch.md
  packages/pharos-site/src/components/Sidenav.tsx
  packages/pharos-site/src/pages/components/component-status/status.json
  packages/pharos-site/src/pages/components/toggle-button-group/index.mdx
  packages/pharos-site/static/guidelines/toggle-button-group.docs.mdx
Labels: component/toggle-button-group, documentation, ithaka/pharos-site

#167 feat: use esbuild-loader for Storybook
  .storybook/webpack.config.js
  package.json
  yarn.lock
Labels: infrastructure, status/ready to test, storybook

#196 feat(image-card): add property for setting aria label on the image link
  .changeset/stale-baboons-happen.md
  packages/pharos/src/components/image-card/pharos-image-card.test.ts
  packages/pharos/src/components/image-card/pharos-image-card.ts
Labels: accessibility, ithaka/pharos, component/image-card

#199 fix(image-card): remove containment styling for title
  .changeset/thick-chicken-sin.md
  packages/pharos/src/components/image-card/pharos-image-card.scss
Labels: note/bug fix, ithaka/pharos, component/image-card, status/potential browser bug

#198 fix(site): replace unnecessary non-breaking spaces
  .changeset/red-coats-brake.md
  packages/pharos-site/src/pages/contributing/development/index.mdx
  packages/pharos-site/static/guidelines/button.docs.mdx
  packages/pharos-site/static/guidelines/checkbox.docs.mdx
  packages/pharos-site/static/guidelines/combobox.docs.mdx
  packages/pharos-site/static/guidelines/modal.docs.mdx
  packages/pharos-site/static/guidelines/radio.docs.mdx
  packages/pharos-site/static/guidelines/text-input.docs.mdx
  packages/pharos-site/static/guidelines/tooltip.docs.mdx
Labels: note/bug fix, status/code review, ithaka/pharos-site

#201 docs(pharos): instruct to import CSS var tokens
  .changeset/silly-chicken-attack.md
  packages/pharos/README.md
Labels: documentation, status/code review, ithaka/pharos

#202 fix(breadcrumb): allow items to wrap
  .changeset/stupid-experts-pretend.md
  packages/pharos/src/components/breadcrumb/pharos-breadcrumb.scss
Labels: note/bug fix, status/code review, ithaka/pharos, component/breadcrumb

#205 chore: update dependencies
  .changeset/beige-kings-care.md
  package.json
  packages/pharos/package.json
  packages/pharos/scripts/build-react.js
  yarn.lock
Labels: infrastructure, status/code review, ithaka/pharos

#206 fix(input-group): shift validity icon placement
  .changeset/late-dots-kick.md
  packages/pharos/src/components/input-group/PharosInputGroup.react.stories.mdx
  packages/pharos/src/components/input-group/pharos-input-group.ts
  packages/pharos/src/components/input-group/pharos-input-group.wc.stories.mdx
  packages/pharos/src/components/text-input/pharos-text-input.ts
Labels: note/bug fix, status/code review, ithaka/pharos, component/input-group
