Repository ithaka/pharos, pull requests merged in 2021-10, with the labels that each got.

#229 feat(pharos-image-card): add overlay slot
  .all-contributorsrc
  .changeset/seven-beans-return.md
  README.md
  packages/pharos/src/components/image-card/pharos-image-card.scss
  packages/pharos/src/components/image-card/pharos-image-card.test.ts
  packages/pharos/src/components/image-card/pharos-image-card.ts
Labels: status/ready to test, component/image-card

#230 Docs: Update image card examples to a reasonable width
  .changeset/many-toys-hope.md
  packages/pharos-site/static/guidelines/image-card.docs.mdx
Labels: note/bug fix, status/code review, ithaka/pharos-site

#233 chore: update Lit, TypeScript, and Prettier
  .changeset/kind-papayas-travel.md
  package.json
  packages/pharos-cli/package.json
  packages/pharos-cli/src/cmds/pharos-component.ts
  packages/pharos-site/package.json
  packages/pharos-site/src/components/CodeBlock.tsx
  packages/pharos-site/src/components/seo.tsx
  packages/pharos-site/src/typings/declarations.d.ts
  packages/pharos/package.json
  packages/pharos/src/components/button/pharos-button.ts
  packages/pharos/src/components/text-input/pharos-text-input.test.ts
  packages/pharos/src/typings/window.d.ts
  yarn.lock
Labels: infrastructure, status/code review, ithaka/pharos-cli, ithaka/pharos, ithaka/pharos-site
