Repository ithaka/pharos, pull requests merged in 2021-06, with the labels that each got.

#55 fix(pharos-site): remove logos page from site
  .changeset/selfish-pears-appear.md
  packages/pharos-site/src/components/Sidenav.tsx
  packages/pharos-site/src/pages/brand-expressions/logos.mdx
  packages/pharos-site/src/pages/index.tsx
Labels: ithaka/pharos-site, note/bug fix, status/code review

#57 ci: redirect to Storybooks from site
  netlify.toml
Labels: infrastructure, status/code review

#58 fix(pharos): set overflow for subtle image cards
  .changeset/good-fans-hope.md
  packages/pharos/src/components/image-card/pharos-image-card.scss
Labels: component/image-card, ithaka/pharos, note/bug fix, status/code review

#53 docs: update accessibility sections for components
  .changeset/sixty-shoes-march.md
  packages/pharos-site/static/guidelines/alert.docs.mdx
  packages/pharos-site/static/guidelines/breadcrumb.docs.mdx
  packages/pharos-site/static/guidelines/button.docs.mdx
  packages/pharos-site/static/guidelines/checkbox.docs.mdx
  packages/pharos-site/static/guidelines/combobox.docs.mdx
  packages/pharos-site/static/guidelines/dropdown-menu-nav.docs.mdx
  packages/pharos-site/static/guidelines/dropdown-menu.docs.mdx
  packages/pharos-site/static/guidelines/footer.docs.mdx
  packages/pharos-site/static/guidelines/header.docs.mdx
  packages/pharos-site/static/guidelines/icon.docs.mdx
  packages/pharos-site/static/guidelines/input-group.docs.mdx
  packages/pharos-site/static/guidelines/link.docs.mdx
  packages/pharos-site/static/guidelines/loading-spinner.docs.mdx
  packages/pharos-site/static/guidelines/modal.docs.mdx
  packages/pharos-site/static/guidelines/pagination.docs.mdx
  packages/pharos-site/static/guidelines/progress-bar.docs.mdx
  packages/pharos-site/static/guidelines/radio.docs.mdx
  packages/pharos-site/static/guidelines/select.docs.mdx
  packages/pharos-site/static/guidelines/sidenav.docs.mdx
  packages/pharos-site/static/guidelines/tabs.docs.mdx
  packages/pharos-site/static/guidelines/text-input.docs.mdx
  packages/pharos-site/static/guidelines/textarea.docs.mdx
  packages/pharos-site/static/guidelines/toast.docs.mdx
  packages/pharos-site/static/guidelines/tooltip.docs.mdx
Labels: accessibility, documentation, ithaka/pharos-site, status/code review

#60 ci: add a composed Storybook build
  .storybook/main/babel.config.js
  .storybook/main/main.js
  .storybook/main/manager-head.html
  .storybook/main/manager.js
  .storybook/main/preview-head.html
  .storybook/main/preview.js
  .storybook/main/webpack.config.js
  k8s/storybook/Dockerfile
  k8s/storybook/Jenkinsfile
  k8s/storybook/deployment.yml
  netlify.toml
  package.json
Labels: infrastructure, status/code review, storybook

#62 fix: update redirect logic
  netlify.toml
Labels: infrastructure, status/code review

#63 documentation: remove storybook urls
  .changeset/silly-chairs-clap.md
  packages/pharos-site/static/guidelines/alert.docs.mdx
  packages/pharos-site/static/guidelines/breadcrumb.docs.mdx
  packages/pharos-site/static/guidelines/button.docs.mdx
  packages/pharos-site/static/guidelines/checkbox.docs.mdx
  packages/pharos-site/static/guidelines/combobox.docs.mdx
  packages/pharos-site/static/guidelines/dropdown-menu-nav.docs.mdx
  packages/pharos-site/static/guidelines/dropdown-menu.docs.mdx
  packages/pharos-site/static/guidelines/footer.docs.mdx
  packages/pharos-site/static/guidelines/header.docs.mdx
  packages/pharos-site/static/guidelines/input-group.docs.mdx
  packages/pharos-site/static/guidelines/link.docs.mdx
  packages/pharos-site/static/guidelines/modal.docs.mdx
  packages/pharos-site/static/guidelines/progress-bar.docs.mdx
  packages/pharos-site/static/guidelines/radio.docs.mdx
  packages/pharos-site/static/guidelines/select.docs.mdx
  packages/pharos-site/static/guidelines/sidenav.docs.mdx
  packages/pharos-site/static/guidelines/template.mdx
  packages/pharos-site/static/guidelines/text-input.docs.mdx
  packages/pharos-site/static/guidelines/textarea.docs.mdx
  packages/pharos-site/static/guidelines/toast.docs.mdx
  packages/pharos-site/static/guidelines/tooltip.docs.mdx
Labels: bug, documentation, ithaka/pharos-site, note/bug fix

#65 fix: point to separate netlify deployment for composition
  .storybook/main/main.js
Labels: infrastructure, note/bug fix, status/code review

#54 docs: add design token pages
  .changeset/shiny-bulldogs-pay.md
  packages/pharos-site/src/components/Sidenav.tsx
  packages/pharos-site/src/components/layout.module.css
  packages/pharos-site/src/components/statics/BestPractices.tsx
  packages/pharos-site/src/components/statics/design-token/ColorHead.module.css
  packages/pharos-site/src/components/statics/design-token/ColorHead.tsx
  packages/pharos-site/src/components/statics/design-token/ColorRow.module.css
  packages/pharos-site/src/components/statics/design-token/ColorRow.tsx
  packages/pharos-site/src/components/statics/design-token/TokenTable.module.css
  packages/pharos-site/src/components/statics/design-token/TokenTable.tsx
  packages/pharos-site/src/components/statics/design-token/toTokenFormat.module.css
  packages/pharos-site/src/components/statics/design-token/toTokenFormat.tsx
  packages/pharos-site/src/pages/design-tokens/alias-colors.mdx
  packages/pharos-site/src/pages/design-tokens/font-family.mdx
  packages/pharos-site/src/pages/design-tokens/font-size.mdx
  packages/pharos-site/src/pages/design-tokens/font-weight.mdx
  packages/pharos-site/src/pages/design-tokens/global-colors.mdx
  packages/pharos-site/src/pages/design-tokens/line-height.mdx
  packages/pharos-site/src/pages/design-tokens/overview.mdx
  packages/pharos-site/src/pages/design-tokens/radius.mdx
  packages/pharos-site/src/pages/design-tokens/spacing.mdx
  packages/pharos-site/src/pages/design-tokens/transitions.mdx
  packages/pharos-site/src/pages/design-tokens/type-scale.mdx
Labels: documentation, ithaka/pharos-site, status/ready to test

#66 Feature/add skip to main content functionality for sidenav component
  .changeset/lovely-hairs-develop.md
  packages/pharos-site/src/components/Sidenav.tsx
  packages/pharos-site/src/components/layout.module.css
  packages/pharos-site/src/components/layout.tsx
  packages/pharos/src/components/link/pharos-link.scss
  packages/pharos/src/components/link/pharos-link.test.ts
  packages/pharos/src/components/link/pharos-link.ts
  packages/pharos/src/components/sidenav/pharos-sidenav.test.ts
  packages/pharos/src/components/sidenav/pharos-sidenav.ts
  packages/pharos/src/pages/reports/react/Sidenav.tsx
  packages/pharos/src/pages/reports/react/reports.pages.stories.tsx
  packages/pharos/src/pages/reports/wc/reports.pages.stories.ts
  packages/pharos/src/pages/reports/wc/sidenav.ts
  packages/pharos/src/utils/deepSelector.ts
Labels: component/link, component/sidenav, ithaka/pharos, ithaka/pharos-site, status/code review

#68 feat(pharos): update collection cards
  .changeset/young-shrimps-decide.md
  packages/pharos/src/components/image-card/PharosImageCard.react.stories.mdx
  packages/pharos/src/components/image-card/pharos-image-card.scss
  packages/pharos/src/components/image-card/pharos-image-card.test.ts
  packages/pharos/src/components/image-card/pharos-image-card.ts
  packages/pharos/src/components/image-card/pharos-image-card.wc.stories.mdx
  packages/pharos/src/components/link/pharos-link.scss
  packages/pharos/src/components/link/pharos-link.ts
Labels: component/image-card, component/link, ithaka/pharos, status/code review

#67 docs: add cta for career opportunities
  .changeset/short-shrimps-yawn.md
  README.md
  packages/pharos/docs/1.intro.docs.stories.mdx
Labels: documentation, ithaka/pharos, status/code review

#69 docs(pharos-site): add storybook links to public component sections
  .changeset/pink-fishes-sparkle.md
  packages/pharos-site/src/components/statics/PageSection.tsx
  packages/pharos-site/static/guidelines/alert.docs.mdx
  packages/pharos-site/static/guidelines/breadcrumb.docs.mdx
  packages/pharos-site/static/guidelines/button.docs.mdx
  packages/pharos-site/static/guidelines/checkbox.docs.mdx
  packages/pharos-site/static/guidelines/combobox.docs.mdx
  packages/pharos-site/static/guidelines/dropdown-menu-nav.docs.mdx
  packages/pharos-site/static/guidelines/dropdown-menu.docs.mdx
  packages/pharos-site/static/guidelines/footer.docs.mdx
  packages/pharos-site/static/guidelines/header.docs.mdx
  packages/pharos-site/static/guidelines/heading.docs.mdx
  packages/pharos-site/static/guidelines/icon.docs.mdx
  packages/pharos-site/static/guidelines/input-group.docs.mdx
  packages/pharos-site/static/guidelines/link.docs.mdx
  packages/pharos-site/static/guidelines/loading-spinner.docs.mdx
  packages/pharos-site/static/guidelines/modal.docs.mdx
  packages/pharos-site/static/guidelines/pagination.docs.mdx
  packages/pharos-site/static/guidelines/progress-bar.docs.mdx
  packages/pharos-site/static/guidelines/radio.docs.mdx
  packages/pharos-site/static/guidelines/select.docs.mdx
  packages/pharos-site/static/guidelines/sidenav.docs.mdx
  packages/pharos-site/static/guidelines/tabs.docs.mdx
  packages/pharos-site/static/guidelines/template.mdx
  packages/pharos-site/static/guidelines/text-input.docs.mdx
  packages/pharos-site/static/guidelines/textarea.docs.mdx
  packages/pharos-site/static/guidelines/toast.docs.mdx
  packages/pharos-site/static/guidelines/tooltip.docs.mdx
  packages/pharos-site/static/guidelines/type-styles.docs.mdx
Labels: documentation, ithaka/pharos-site, status/code review

#71 feat(pharos-site): reactivate logo guidelines and deactivate design token overview
  .changeset/shy-lizards-lie.md
  packages/pharos-site/src/components/Sidenav.tsx
Labels: component/sidenav, documentation, ithaka/pharos-site, status/code review

#72 feat(pharos): enable setting elements in a shadow DOM as tooltip boundary
  .changeset/stupid-laws-roll.md
  packages/pharos/src/components/base/overlay-element.ts
  packages/pharos/src/components/layout/pharos-layout.ts
  packages/pharos/src/components/tooltip/pharos-tooltip.ts
Labels: component/layout, component/tooltip, ithaka/pharos, status/code review

#70 feat: add careers section to homepage
  .changeset/selfish-apricots-beam.md
  README.md
  packages/pharos-site/src/components/Sidenav.tsx
  packages/pharos-site/src/components/footer.module.css
  packages/pharos-site/src/components/footer.tsx
  packages/pharos-site/src/pages/index.module.css
  packages/pharos-site/src/pages/index.tsx
  packages/pharos/README.md
  packages/pharos/src/components/image-card/PharosImageCard.react.stories.mdx
Labels: ithaka/pharos-site, status/code review

#73 ci: ignore builds for unrelated changes
  build-ignore.sh
  netlify.toml
Labels: infrastructure, status/code review

#77 ci: use last built commit for ignore
  build-ignore.sh
Labels: infrastructure, status/code review

#76 feat: add GA for main Storybook
  .storybook/main/manager.js
Labels: status/code review, storybook

#78 fix(pharos-site): remove trailing slashes from Gatsby paths
  .changeset/smart-years-impress.md
  packages/pharos-site/gatsby-config.js
  packages/pharos-site/package.json
  yarn.lock
Labels: ithaka/pharos-site, note/bug fix, status/code review

#50 fix(pharos)!: fire modal events when opened/closed via props
  .changeset/light-tools-move.md
  packages/pharos/src/components/dropdown-menu/pharos-dropdown-menu.ts
  packages/pharos/src/components/modal/pharos-modal.test.ts
  packages/pharos/src/components/modal/pharos-modal.ts
Labels: BREAKING, component/modal, ithaka/pharos, note/bug fix, status/ready to test

#36 feat!: add new color tokens and update alerts
  .all-contributorsrc
  .changeset/blue-bugs-train.md
  README.md
  packages/pharos-site/src/components/statics/component-status/StatusIcon.module.css
  packages/pharos-site/static/guidelines/alert.docs.mdx
  packages/pharos-site/static/guidelines/button.docs.mdx
  packages/pharos-site/static/guidelines/toast.docs.mdx
  packages/pharos/src/components/alert/PharosAlert.react.stories.mdx
  packages/pharos/src/components/alert/pharos-alert.scss
  packages/pharos/src/components/alert/pharos-alert.styles.scss
  packages/pharos/src/components/alert/pharos-alert.test.ts
  packages/pharos/src/components/alert/pharos-alert.ts
  packages/pharos/src/components/alert/pharos-alert.wc.stories.mdx
  packages/pharos/src/components/link/pharos-link.test.ts
  packages/pharos/src/components/link/pharos-link.ts
  packages/pharos/src/components/modal/PharosModal.react.stories.mdx
  packages/pharos/src/components/modal/pharos-modal.wc.stories.mdx
  packages/pharos/tokens/color/base.json
  packages/pharos/tokens/components/alert.json
Labels: BREAKING, component/alert, documentation

#79 feat(icon): add pdf and ppt icons
  .changeset/early-bears-report.md
  packages/pharos/assets/icons/filetype-pdf.svg
  packages/pharos/assets/icons/filetype-ppt.svg
  packages/pharos/tokens/assets/icons.json
Labels: component/icon, ithaka/pharos, status/ready to test

#80 feat(checkbox): rename dark property to on-background for consistency
  .changeset/neat-eels-act.md
  .gitignore
  packages/pharos-site/static/styles/global.scss
  packages/pharos/src/components/base/form-element.scss
  packages/pharos/src/components/checkbox/PharosCheckbox.react.stories.mdx
  packages/pharos/src/components/checkbox/pharos-checkbox.scss
  packages/pharos/src/components/checkbox/pharos-checkbox.ts
  packages/pharos/src/components/checkbox/pharos-checkbox.wc.stories.mdx
Labels: BREAKING, component/checkbox, status/code review

#86 fix(cli): import html from lit
  .changeset/flat-tools-decide.md
  packages/pharos-cli/src/templates/unit-test-template.js
Labels: ithaka/pharos-cli, note/bug fix, status/code review

#81 feat(alert)!: remove base variant alert and make status required property
  .changeset/curly-mirrors-remember.md
  packages/pharos/src/components/alert/PharosAlert.react.stories.mdx
  packages/pharos/src/components/alert/pharos-alert.test.ts
  packages/pharos/src/components/alert/pharos-alert.ts
  packages/pharos/src/components/alert/pharos-alert.wc.stories.mdx
Labels: BREAKING, component/alert, status/code review

#88 Upgrade to Style Dictionary 3.0
  .changeset/large-cycles-remain.md
  package.json
  packages/pharos/package.json
  packages/pharos/scripts/build-tokens.mjs
  packages/pharos/style-dictionary.config.js
  packages/pharos/tokens/components/modal.json
  packages/pharos/tokens/spacing/base.json
  yarn.lock
Labels: design tokens, status/code review

#91 feat(heading): make level a required prop
  .changeset/smooth-oranges-sneeze.md
  packages/pharos/src/components/dropdown-menu/pharos-dropdown-menu.wc.stories.mdx
  packages/pharos/src/components/heading/pharos-heading.test.ts
  packages/pharos/src/components/heading/pharos-heading.ts
Labels: BREAKING, component/heading, status/code review

#92 fix: add name attributes to states story for combobox, text-input and textarea
  .changeset/friendly-zebras-complain.md
  packages/pharos/src/components/combobox/pharos-combobox.wc.stories.mdx
  packages/pharos/src/components/text-input/pharos-text-input.wc.stories.mdx
  packages/pharos/src/components/textarea/pharos-textarea.wc.stories.mdx
Labels: ithaka/pharos, status/code review, storybook

#84 fix: modify button and input styles on storybook
  .changeset/silly-hairs-explain.md
  packages/pharos/src/components/checkbox-group/PharosCheckboxGroup.react.stories.mdx
  packages/pharos/src/components/checkbox-group/pharos-checkbox-group.wc.stories.mdx
  packages/pharos/src/components/combobox/PharosCombobox.react.stories.mdx
  packages/pharos/src/components/combobox/pharos-combobox.wc.stories.mdx
  packages/pharos/src/components/radio-group/PharosRadioGroup.react.stories.mdx
  packages/pharos/src/components/radio-group/pharos-radio-group.wc.stories.mdx
  packages/pharos/src/components/select/PharosSelect.react.stories.mdx
  packages/pharos/src/components/select/pharos-select.wc.stories.mdx
  packages/pharos/src/components/text-input/PharosTextInput.react.stories.mdx
  packages/pharos/src/components/text-input/pharos-text-input.wc.stories.mdx
  packages/pharos/src/components/textarea/PharosTextarea.react.stories.mdx
  packages/pharos/src/components/textarea/pharos-textarea.wc.stories.mdx
Labels: documentation, status/code review, storybook

#87 documentation: Update form documentation with brand copy
  .changeset/gorgeous-seahorses-whisper.md
  packages/pharos-site/static/guidelines/checkbox.docs.mdx
  packages/pharos-site/static/guidelines/radio.docs.mdx
  packages/pharos-site/static/guidelines/select.docs.mdx
  packages/pharos-site/static/guidelines/text-input.docs.mdx
  packages/pharos-site/static/guidelines/textarea.docs.mdx
Labels: documentation, ithaka/pharos-site

#94 fix: correct Storybook inconsistencies
  .changeset/yellow-singers-develop.md
  .storybook/main/preview-head.html
  packages/pharos/src/components/checkbox-group/PharosCheckboxGroup.react.stories.mdx
  packages/pharos/src/components/combobox/PharosCombobox.react.stories.mdx
  packages/pharos/src/components/radio-group/PharosRadioGroup.react.stories.mdx
  packages/pharos/src/components/select/PharosSelect.react.stories.mdx
  packages/pharos/src/components/select/pharos-select.wc.stories.mdx
  packages/pharos/src/components/text-input/PharosTextInput.react.stories.mdx
  packages/pharos/src/components/textarea/PharosTextarea.react.stories.mdx
Labels: ithaka/pharos, note/bug fix, storybook

#89 perf(pharos): import icons dynamically
  .changeset/giant-moons-repeat.md
  .eslintignore
  .gitignore
  .prettierignore
  .stylelintignore
  packages/pharos/package.json
  packages/pharos/scripts/build-tokens.mjs
  packages/pharos/src/components/button/PharosButton.react.stories.mdx
  packages/pharos/src/components/button/pharos-button.wc.stories.mdx
  packages/pharos/src/components/checkbox/pharos-checkbox.ts
  packages/pharos/src/components/icon/PharosIcon.react.stories.mdx
  packages/pharos/src/components/icon/pharos-icon.ts
  packages/pharos/src/components/icon/pharos-icon.wc.stories.mdx
  packages/pharos/src/utils/iconNames.ts
  packages/pharos/style-dictionary.config.js
  packages/pharos/tsconfig.json
  yarn.lock
Labels: component/icon, ithaka/pharos, status/code review

#96 fix(pharos-site): sentence casing on side nav
  .changeset/honest-flies-relate.md
  packages/pharos-site/src/components/Sidenav.tsx
Labels: bug, component/sidenav, documentation, ithaka/pharos-site, status/code review

#98 feat(pharos-site): add links to JSTOR from site
  .changeset/breezy-singers-reply.md
  packages/pharos-site/src/components/Sidenav.tsx
  packages/pharos-site/src/components/footer.module.css
  packages/pharos-site/src/components/footer.tsx
Labels: ithaka/pharos-site, status/code review

#100 fix(pharos-site): update component documentation copy based on review
  .changeset/light-berries-drum.md
  packages/pharos-site/static/guidelines/checkbox.docs.mdx
  packages/pharos-site/static/guidelines/radio.docs.mdx
  packages/pharos-site/static/guidelines/select.docs.mdx
  packages/pharos-site/static/guidelines/text-input.docs.mdx
  packages/pharos-site/static/guidelines/textarea.docs.mdx
Labels: documentation, ithaka/pharos-site, status/code review

#99 fix(pharos): update styles usage for React stories
  .changeset/friendly-foxes-rescue.md
  packages/pharos/src/components/combobox/PharosCombobox.react.stories.mdx
  packages/pharos/src/components/combobox/pharos-combobox.wc.stories.mdx
  packages/pharos/src/components/select/PharosSelect.react.stories.mdx
Labels: ithaka/pharos, note/bug fix, status/code review, storybook

#95 fix(image-card): change image height and update styles
  .changeset/little-dogs-rush.md
  packages/pharos/src/components/image-card/pharos-image-card.scss
  packages/pharos/src/components/image-card/pharos-image-card.ts
Labels: component/image-card, ithaka/pharos, status/code review

#103 fix(pharos-site): update content based on legal review
  .changeset/nasty-cows-build.md
  packages/pharos-site/src/components/Sidenav.tsx
  packages/pharos-site/src/components/footer.module.css
  packages/pharos-site/src/components/footer.tsx
  packages/pharos-site/src/pages/brand-expressions/imagery.mdx
  packages/pharos-site/src/pages/brand-expressions/logos.mdx
  packages/pharos-site/src/pages/index.module.css
Labels: ithaka/pharos-site, note/bug fix

#104 fix(pharos): update tooltip and breadcrumb overflow logic when slotted content is non-HTML
  .changeset/ninety-ravens-exercise.md
  packages/pharos/src/components/breadcrumb/pharos-breadcrumb-item.ts
  packages/pharos/src/components/tooltip/pharos-tooltip.ts
Labels: component/breadcrumb, component/tooltip, ithaka/pharos, note/bug fix, status/code review

#105 feat(image-card): add slot for title
  .changeset/rare-brooms-film.md
  packages/pharos/src/components/image-card/pharos-image-card.test.ts
  packages/pharos/src/components/image-card/pharos-image-card.ts
Labels: component/image-card, ithaka/pharos, status/code review

#106 feat(link): add min-width rule when flexed for better text wrapping support
  .changeset/quick-geckos-prove.md
  packages/pharos/src/components/link/pharos-link.scss
Labels: component/link, ithaka/pharos, status/code review

#93 feat: Default event stories in storybook to action tab instead of controls tab
  .changeset/forty-dogs-press.md
  packages/pharos/src/components/checkbox-group/PharosCheckboxGroup.react.stories.mdx
  packages/pharos/src/components/checkbox-group/pharos-checkbox-group.wc.stories.mdx
  packages/pharos/src/components/checkbox/PharosCheckbox.react.stories.mdx
  packages/pharos/src/components/checkbox/pharos-checkbox.wc.stories.mdx
  packages/pharos/src/components/combobox/PharosCombobox.react.stories.mdx
  packages/pharos/src/components/combobox/pharos-combobox.wc.stories.mdx
  packages/pharos/src/components/dropdown-menu/PharosDropdownMenu.react.stories.mdx
  packages/pharos/src/components/dropdown-menu/pharos-dropdown-menu.wc.stories.mdx
  packages/pharos/src/components/modal/PharosModal.react.stories.mdx
  packages/pharos/src/components/modal/pharos-modal.wc.stories.mdx
  packages/pharos/src/components/pagination/PharosPagination.react.stories.mdx
  packages/pharos/src/components/pagination/pharos-pagination.wc.stories.mdx
  packages/pharos/src/components/progress-bar/PharosProgressBar.react.stories.mdx
  packages/pharos/src/components/progress-bar/pharos-progress-bar.wc.stories.mdx
  packages/pharos/src/components/radio-button/PharosRadioButton.react.stories.mdx
  packages/pharos/src/components/radio-button/pharos-radio-button.wc.stories.mdx
  packages/pharos/src/components/radio-group/PharosRadioGroup.react.stories.mdx
  packages/pharos/src/components/radio-group/pharos-radio-group.wc.stories.mdx
  packages/pharos/src/components/select/PharosSelect.react.stories.mdx
  packages/pharos/src/components/select/pharos-select.wc.stories.mdx
  packages/pharos/src/components/tabs/PharosTabs.react.stories.mdx
  packages/pharos/src/components/tabs/pharos-tabs.wc.stories.mdx
  packages/pharos/src/components/text-input/PharosTextInput.react.stories.mdx
  packages/pharos/src/components/text-input/pharos-text-input.wc.stories.mdx
  packages/pharos/src/components/textarea/PharosTextarea.react.stories.mdx
  packages/pharos/src/components/textarea/pharos-textarea.wc.stories.mdx
  packages/pharos/src/components/toast/pharos-toast.wc.stories.mdx
  packages/pharos/src/components/toggle-button-group/PharosToggleButtonGroup.react.stories.mdx
  packages/pharos/src/components/toggle-button-group/pharos-toggle-button-group.wc.stories.mdx
Labels: status/code review, storybook

#109 docs(pharos-site): add how to write documentation section and contributing section
  .changeset/dull-sheep-divide.md
  packages/pharos-site/README.md
  packages/pharos-site/src/components/Sidenav.tsx
  packages/pharos-site/src/pages/content-style-guide/grammar-and-style/index.mdx
  packages/pharos-site/src/pages/contributing/developer-guidelines/index.mdx
  packages/pharos-site/src/pages/contributing/documentation/index.mdx
Labels: component/sidenav, documentation, ithaka/pharos-site, status/code review

#112 feat(pharos-site): use Gatsby cache for site builds
  .changeset/light-sloths-watch.md
  packages/pharos-site/gatsby-config.js
  packages/pharos-site/gatsby-node.js
  packages/pharos-site/package.json
  packages/pharos-site/src/components/Sidenav.tsx
  packages/pharos-site/src/pages/components/alert/index.mdx
  yarn.lock
Labels: ithaka/pharos-site, status/code review

#114 refactor: use node in place of gulp for building Pharos
  .changeset/strong-donkeys-repeat.md
  docs/development/code-structure.md
  packages/pharos-site/package.json
  packages/pharos/gulpfile.mjs
  packages/pharos/package.json
  packages/pharos/scripts/build-assets.js
  packages/pharos/scripts/build-react.js
  packages/pharos/scripts/build-styles.js
  packages/pharos/scripts/copyDir.js
  packages/pharos/scripts/watch-styles.js
  packages/pharos/tasks/build-assets.js
  packages/pharos/tasks/build-styles.js
  yarn.lock
Labels: infrastructure, ithaka/pharos, ithaka/pharos-site, status/code review

#116 updated proper grammar for dos and don'ts in guideline titles
  .all-contributorsrc
  .changeset/selfish-days-hide.md
  README.md
  packages/pharos-site/src/components/statics/DosAndDonts.tsx
Labels: ithaka/pharos-site, note/bug fix, status/code review

#117 ci: use Playwright cli to install browsers
  .github/workflows/verify.yml
Labels: infrastructure, status/code review

#111 fix(pharos-site): change spacing and style on contributing pages and add accessibility section
  .changeset/silly-dryers-wink.md
  packages/pharos-site/src/components/Sidenav.tsx
  packages/pharos-site/src/pages/content-style-guide/grammar-and-style/index.mdx
  packages/pharos-site/src/pages/contributing/development/index.mdx
  packages/pharos-site/src/pages/contributing/documentation/index.mdx
Labels: documentation, ithaka/pharos-site, note/bug fix, status/code review

#119 Update and fix SSR for SEO tags
  .changeset/early-pillows-chew.md
  packages/pharos-site/gatsby-config.js
  packages/pharos-site/src/components/Sidenav.tsx
  packages/pharos-site/src/components/layout.tsx
  packages/pharos-site/src/components/seo.tsx
  packages/pharos-site/src/pages/404.tsx
  packages/pharos-site/src/pages/contributing/development/index.mdx
  packages/pharos-site/src/pages/contributing/documentation/index.mdx
  packages/pharos-site/src/pages/design-tokens/line-height.mdx
  packages/pharos-site/src/pages/index.tsx
  packages/pharos-site/static/guidelines/button.docs.mdx
  packages/pharos-site/static/guidelines/heading.docs.mdx
  packages/pharos-site/static/images/pharos-artboard.jpg
Labels: ithaka/pharos-site, note/bug fix

#120 Use simplified image for social sharing
  .changeset/curly-ligers-yell.md
  packages/pharos-site/gatsby-config.js
  packages/pharos-site/static/images/pharos-artboard.jpg
  packages/pharos-site/static/images/pharos-orb.png
Labels: ithaka/pharos-site, status/code review

#122 feat: implement layout component on the site
  .changeset/silent-coats-juggle.md
  packages/pharos-site/src/components/footer.module.css
  packages/pharos-site/src/components/footer.tsx
  packages/pharos-site/src/components/layout.module.css
  packages/pharos-site/src/components/layout.tsx
  packages/pharos-site/src/components/seo.tsx
  packages/pharos-site/src/components/statics/component-status/StatusTable.tsx
  packages/pharos-site/src/components/statics/design-token/ColorRow.tsx
  packages/pharos-site/src/components/statics/design-token/TokenTable.module.css
  packages/pharos-site/src/pages/design-tokens/spacing.mdx
  packages/pharos-site/src/pages/design-tokens/transitions.mdx
  packages/pharos-site/src/pages/index.module.css
  packages/pharos-site/src/pages/index.tsx
  packages/pharos/src/components/layout/PharosLayout.react.stories.mdx
  packages/pharos/src/components/layout/pharos-layout.scss
  packages/pharos/src/components/layout/pharos-layout.test.ts
  packages/pharos/src/components/layout/pharos-layout.ts
  packages/pharos/src/components/layout/pharos-layout.wc.stories.mdx
  packages/pharos/src/utils/scss/_variables.scss
Labels: component/layout, ithaka/pharos, ithaka/pharos-site, status/code review

#123 documentation(site): fix react error messages for token pages
  .changeset/friendly-knives-teach.md
  packages/pharos-site/src/components/statics/design-token/ColorRow.tsx
  packages/pharos-site/src/components/statics/design-token/TokenTable.tsx
  packages/pharos-site/src/pages/design-tokens/alias-colors.mdx
  packages/pharos-site/src/pages/design-tokens/font-family.mdx
  packages/pharos-site/src/pages/design-tokens/font-size.mdx
  packages/pharos-site/src/pages/design-tokens/font-weight.mdx
  packages/pharos-site/src/pages/design-tokens/global-colors.mdx
  packages/pharos-site/src/pages/design-tokens/line-height.mdx
  packages/pharos-site/src/pages/design-tokens/radius.mdx
  packages/pharos-site/src/pages/design-tokens/spacing.mdx
  packages/pharos-site/src/pages/design-tokens/transitions.mdx
  packages/pharos-site/src/pages/design-tokens/type-scale.mdx
Labels: bug, documentation, ithaka/pharos-site, note/bug fix, status/code review

#124 chore: update dependencies
  .changeset/eighty-bugs-jog.md
  package.json
  packages/pharos-cli/package.json
  packages/pharos-cli/src/index.ts
  packages/pharos-cli/src/templates/typescript-file-template.js
  packages/pharos-site/static/styles/global.scss
  packages/pharos/src/pages/home/home.scss
  packages/pharos/src/pages/item-detail/item-detail.scss
  packages/pharos/src/pages/reports/reports.scss
  packages/pharos/src/pages/search/search.scss
  packages/pharos/src/pages/shared/styles/header-revised.scss
  yarn.lock
Labels: infrastructure, ithaka/pharos, ithaka/pharos-cli, ithaka/pharos-site, status/code review

#126 docs(site): add FAQs section to site
  .changeset/plenty-radios-knock.md
  packages/pharos-site/src/components/Sidenav.tsx
  packages/pharos-site/src/pages/faqs.mdx
Labels: documentation, ithaka/pharos-site

#125 docs: add stories for sass mixins
  .changeset/angry-items-stare.md
  .storybook/sass.ts
  packages/pharos/src/styles/sass.react.stories.mdx
  packages/pharos/src/styles/sass.wc.stories.mdx
  packages/pharos/src/styles/tokens.react.stories.mdx
  packages/pharos/src/styles/tokens.wc.stories.mdx
Labels: documentation, sass, storybook

#129 docs: update accessibility section
  .changeset/selfish-turkeys-vanish.md
  packages/pharos-site/src/pages/contributing/documentation/index.mdx
Labels: accessibility, documentation, ithaka/pharos-site, status/code review

#130 fix(modal): prevent pharos-modal-closed event from emitting upon initial render
  .changeset/dry-items-melt.md
  packages/pharos/src/components/modal/pharos-modal.ts
Labels: component/modal, note/bug fix

#128 feat(image-card): add slot for action button
  .changeset/nervous-masks-wonder.md
  packages/pharos/src/components/image-card/PharosImageCard.react.stories.mdx
  packages/pharos/src/components/image-card/pharos-image-card.scss
  packages/pharos/src/components/image-card/pharos-image-card.test.ts
  packages/pharos/src/components/image-card/pharos-image-card.ts
  packages/pharos/src/components/image-card/pharos-image-card.wc.stories.mdx
Labels: component/image-card, status/code review

#131 docs(pharos-site): update accessibility section for image card
  .changeset/kind-chairs-heal.md
  packages/pharos-site/static/guidelines/image-card.docs.mdx
Labels: accessibility, component/image-card, ithaka/pharos-site
