Repository ithaka/pharos, pull requests merged in 2021-05, with the labels that each got.

#4 ci: add action to run tests on pull requests
  .github/workflows/verify.yml
  jenkins/unit-tests.jenkinsfile
Labels: infrastructure, status/ready to test

#6 ci: add action to release new versions of packages
  .github/workflows/release.yml
  docs/development/conventions/creating-a-release.md
Labels: documentation, infrastructure, status/ready to test

#7 ci: run verify action on push
  .github/workflows/verify.yml
Labels: infrastructure, status/code review

#8 ci: add action to run Chromatic
  .github/workflows/chromatic.yml
  README.md
  docs/development/testing.md
  jenkins/chromatic.jenkinsfile
Labels: infrastructure, status/code review

#9 chore: update lit for forward-compatible features
  .changeset/three-items-help.md
  .stylelintignore
  CHANGELOG.md
  README.md
  package.json
  packages/core/package.json
  packages/core/src/components/breadcrumb/pharos-breadcrumb-item.ts
  packages/core/src/components/combobox/pharos-combobox.ts
  packages/core/src/components/dropdown-menu/pharos-dropdown-menu-item.ts
  packages/core/src/components/dropdown-menu/pharos-dropdown-menu.ts
  packages/core/src/components/input-group/pharos-input-group.ts
  packages/core/src/components/link/pharos-link.ts
  packages/core/src/components/modal/pharos-modal.ts
  packages/core/src/components/tabs/pharos-tab.ts
  packages/core/src/components/tooltip/pharos-tooltip.ts
  yarn.lock
Labels: pharos/core, status/code review

#16 ci: instruct yarn to give cache priority and cache node_modules
  .changeset/seven-cherries-try.md
  .github/workflows/chromatic.yml
  .github/workflows/release.yml
  .github/workflows/verify.yml
  docs/development/conventions/creating-a-release.md
  package.json
  packages/pharos/src/components/sidenav/pharos-sidenav.test.ts
  yarn.lock
Labels: infrastructure, ithaka/pharos, status/code review

#17 feat(pharos): add layout component
  .changeset/dirty-teachers-begin.md
  .changeset/healthy-pets-love.md
  package.json
  packages/pharos-site/src/pages/components/component-status/status.json
  packages/pharos-site/static/styles/global.scss
  packages/pharos/src/components/layout/PharosLayout.react.stories.mdx
  packages/pharos/src/components/layout/pharos-layout.scss
  packages/pharos/src/components/layout/pharos-layout.test.ts
  packages/pharos/src/components/layout/pharos-layout.ts
  packages/pharos/src/components/layout/pharos-layout.wc.stories.mdx
  packages/pharos/src/components/sidenav/PharosSidenav.react.stories.mdx
  packages/pharos/src/components/sidenav/pharos-sidenav.wc.stories.mdx
  packages/pharos/src/index.ts
  packages/pharos/src/pages/home/home.scss
  packages/pharos/src/pages/home/react/home.pages.stories.tsx
  packages/pharos/src/pages/home/wc/home.pages.stories.ts
  packages/pharos/src/pages/item-detail/item-detail.scss
  packages/pharos/src/pages/item-detail/react/item-detail.pages.stories.tsx
  packages/pharos/src/pages/item-detail/wc/item-detail.pages.stories.ts
  packages/pharos/src/pages/reports/react/reports.pages.stories.tsx
  packages/pharos/src/pages/reports/reports.scss
  packages/pharos/src/pages/reports/wc/reports.pages.stories.ts
  packages/pharos/src/pages/shared/styles/_grid.scss
  packages/pharos/src/pages/shared/styles/header-revised.scss
  packages/pharos/src/pages/shared/viewports.ts
  packages/pharos/src/styles/pharos.scss
  packages/pharos/src/utils/scss/_functions.scss
  packages/pharos/src/utils/scss/_mixins.scss
  packages/pharos/src/utils/scss/_variables.scss
  packages/pharos/tokens/breakpoint/base.json
  packages/pharos/tokens/spacing/base.json
  yarn.lock
Labels: component/layout, ithaka/pharos, sass, status/code review

#21 fix: resize modal to fill available space on mobile browsers
  .changeset/three-frogs-leave.md
  packages/pharos/src/components/modal/pharos-modal.scss
Labels: component/modal, ithaka/pharos, note/bug fix, status/code review

#18 Documentation: Update storybook examples to align with Voice and Tone
  .changeset/empty-trainers-give.md
  packages/pharos/src/components/breadcrumb/pharos-breadcrumb.react.stories.mdx
  packages/pharos/src/components/breadcrumb/pharos-breadcrumb.wc.stories.mdx
  packages/pharos/src/components/combobox/PharosCombobox.react.stories.mdx
  packages/pharos/src/components/combobox/pharos-combobox.wc.stories.mdx
  packages/pharos/src/components/dropdown-menu-nav/PharosDropdownMenuNav.react.stories.mdx
  packages/pharos/src/components/dropdown-menu-nav/pharos-dropdown-menu-nav.wc.stories.mdx
  packages/pharos/src/components/dropdown-menu/PharosDropdownMenu.react.stories.mdx
  packages/pharos/src/components/dropdown-menu/pharos-dropdown-menu.wc.stories.mdx
  packages/pharos/src/components/loading-spinner/PharosLoadingSpinner.react.stories.mdx
  packages/pharos/src/components/loading-spinner/pharos-loading-spinner.wc.stories.mdx
  packages/pharos/src/components/modal/PharosModal.react.stories.mdx
  packages/pharos/src/components/modal/pharos-modal.wc.stories.mdx
  packages/pharos/src/components/radio-button/PharosRadioButton.react.stories.mdx
  packages/pharos/src/components/radio-button/pharos-radio-button.wc.stories.mdx
  packages/pharos/src/components/tabs/pharos-tabs.wc.stories.mdx
  packages/pharos/src/components/text-input/PharosTextInput.react.stories.mdx
  packages/pharos/src/components/text-input/pharos-text-input.wc.stories.mdx
  packages/pharos/src/components/textarea/PharosTextarea.react.stories.mdx
  packages/pharos/src/components/textarea/pharos-textarea.wc.stories.mdx
  packages/pharos/src/components/toast/PharosToast.react.stories.mdx
  packages/pharos/src/components/toast/pharos-toast.wc.stories.mdx
  packages/pharos/src/components/tooltip/PharosTooltip.react.stories.mdx
  packages/pharos/src/components/tooltip/pharos-tooltip.wc.stories.mdx
  packages/pharos/src/styles/typography.react.stories.mdx
  packages/pharos/src/styles/typography.wc.stories.mdx
Labels: documentation, ithaka/pharos, status/code review, status/needs UX review, storybook

#22 refactor(site): replace low res images on the site
  .changeset/curly-pillows-end.md
  packages/pharos-site/src/pages/brand-expressions/iconography.mdx
  packages/pharos-site/src/pages/brand-expressions/imagery.mdx
  packages/pharos-site/src/pages/index.tsx
  packages/pharos-site/static/images/brand-expressions/iconography/clear-over-conceptual-do.png
  packages/pharos-site/static/images/brand-expressions/iconography/clear-over-conceptual-dont.png
  packages/pharos-site/static/images/brand-expressions/iconography/family-over-friends-do.png
  packages/pharos-site/static/images/brand-expressions/iconography/family-over-friends-dont.png
  packages/pharos-site/static/images/brand-expressions/iconography/icon_oprinciples_clear-conceptual.svg
  packages/pharos-site/static/images/brand-expressions/iconography/icon_principles_family-friends-1.svg
  packages/pharos-site/static/images/brand-expressions/iconography/icon_principles_family-friends-2.svg
  packages/pharos-site/static/images/brand-expressions/iconography/icon_principles_labels.svg
  packages/pharos-site/static/images/brand-expressions/iconography/icon_principles_simple-detail.svg
  packages/pharos-site/static/images/brand-expressions/iconography/iconography_clear-conceptual_do.svg
  packages/pharos-site/static/images/brand-expressions/iconography/iconography_clear-conceptual_dont.svg
  packages/pharos-site/static/images/brand-expressions/iconography/iconography_family-friends_do.svg
  packages/pharos-site/static/images/brand-expressions/iconography/iconography_family-friends_dont.svg
  packages/pharos-site/static/images/brand-expressions/iconography/iconography_icons-in-action_image1.png
  packages/pharos-site/static/images/brand-expressions/iconography/iconography_icons-in-action_image2.png
  packages/pharos-site/static/images/brand-expressions/iconography/iconography_labels_do.svg
  packages/pharos-site/static/images/brand-expressions/iconography/iconography_labels_dont.svg
  packages/pharos-site/static/images/brand-expressions/iconography/iconography_simple-detailed_do.svg
  packages/pharos-site/static/images/brand-expressions/iconography/iconography_simple-detailed_dont.svg
  packages/pharos-site/static/images/brand-expressions/iconography/simple-detailed-do.png
  packages/pharos-site/static/images/brand-expressions/iconography/simple-detailed-dont.png
  packages/pharos-site/static/images/brand-expressions/imagery/imagery_artstor_1.png
  packages/pharos-site/static/images/brand-expressions/imagery/imagery_artstor_2.png
  packages/pharos-site/static/images/brand-expressions/imagery/imagery_artstor_3.png
  packages/pharos-site/static/images/brand-expressions/imagery/imagery_artstor_4.png
  packages/pharos-site/static/images/brand-expressions/imagery/imagery_artstor_5.png
  packages/pharos-site/static/images/brand-expressions/imagery/imagery_brand_1.png
  packages/pharos-site/static/images/brand-expressions/imagery/imagery_brand_2.png
  packages/pharos-site/static/images/brand-expressions/imagery/imagery_brand_3.png
  packages/pharos-site/static/images/brand-expressions/imagery/imagery_brand_4.png
  packages/pharos-site/static/images/brand-expressions/imagery/imagery_brand_5.png
  packages/pharos-site/static/images/brand-expressions/imagery/imagery_community_1.png
  packages/pharos-site/static/images/brand-expressions/imagery/imagery_community_2.png
  packages/pharos-site/static/images/brand-expressions/imagery/imagery_community_4.png
  packages/pharos-site/static/images/brand-expressions/imagery/imagery_community_5.png
  packages/pharos-site/static/images/brand-expressions/imagery/imagery_hero_cover.png
  packages/pharos-site/static/images/homepage/home-contribute.png
  packages/pharos-site/static/images/homepage/home-contribute.svg
Labels: documentation, ithaka/pharos-site, status/code review

#24 documentation: update component status page
  .changeset/clever-tomatoes-worry.md
  packages/pharos-site/src/components/statics/PageSection.tsx
  packages/pharos-site/src/components/statics/component-status/StatusTable.module.css
  packages/pharos-site/src/components/statics/component-status/StatusTable.tsx
  packages/pharos-site/src/pages/components/component-status/index.mdx
  packages/pharos-site/src/pages/components/component-status/status.json
Labels: documentation, ithaka/pharos-site, status/code review

#26 documentation: update component status table to show shadow only when 'stickied'
  .changeset/spicy-cats-knock.md
  packages/pharos-site/src/components/statics/component-status/StatusTable.module.css
  packages/pharos-site/src/components/statics/component-status/StatusTable.tsx
Labels: bug, documentation, ithaka/pharos-site, note/bug fix, sass, status/code review

#29 fix(pharos): increase max-height of sidenav menu
  .changeset/purple-beans-cross.md
  packages/pharos/src/components/sidenav/pharos-sidenav-menu.scss
Labels: component/sidenav, ithaka/pharos, status/code review

#27 Bugfix/update links for site nav
  .all-contributorsrc
  .changeset/chatty-knives-destroy.md
  README.md
  packages/pharos-site/src/components/Sidenav.tsx
Labels: ithaka/pharos-site, note/bug fix

#31 feat(pharos): add image card component
  .changeset/fair-steaks-tan.md
  package.json
  packages/pharos-site/src/pages/components/component-status/status.json
  packages/pharos-site/static/styles/global.scss
  packages/pharos/package.json
  packages/pharos/src/components/image-card/PharosImageCard.react.stories.mdx
  packages/pharos/src/components/image-card/pharos-image-card.scss
  packages/pharos/src/components/image-card/pharos-image-card.test.ts
  packages/pharos/src/components/image-card/pharos-image-card.ts
  packages/pharos/src/components/image-card/pharos-image-card.wc.stories.mdx
  packages/pharos/src/components/layout/pharos-layout.test.ts
  packages/pharos/src/components/layout/pharos-layout.ts
  packages/pharos/src/components/link/pharos-link.scss
  packages/pharos/src/components/link/pharos-link.ts
  packages/pharos/src/components/toast/PharosToast.react.stories.mdx
  packages/pharos/src/index.ts
  packages/pharos/src/utils/scss/_mixins.scss
  yarn.lock
Labels: component/image-card, component/layout, component/link, ithaka/pharos, status/code review

#32 Bugfix/update alert and tooltips doc
  .changeset/little-snakes-wonder.md
  packages/pharos-site/static/guidelines/alert.docs.mdx
  packages/pharos-site/static/guidelines/tooltip.docs.mdx
  packages/pharos-site/static/images/components/alerts/alert_error_doubled.png
  packages/pharos-site/static/images/components/alerts/alert_error_section.png
  packages/pharos-site/static/images/components/alerts/alert_workspace-placement.png
  packages/pharos-site/static/images/components/tooltip/tooltip_hoverable.gif
  packages/pharos-site/static/images/components/tooltip/tooltip_icon-button.png
  packages/pharos-site/static/images/components/tooltip/tooltip_large-example.png
  packages/pharos-site/static/images/components/tooltip/tooltip_navigational.png
  packages/pharos-site/static/images/components/tooltip/tooltip_viewer-3.png
Labels: component/alert, component/tooltip, documentation, ithaka/pharos-site, status/code review

#25 feat: adds toggle button and toggle button group components
  .all-contributorsrc
  .changeset/chatty-knives-destroy.md
  .changeset/clever-tomatoes-worry.md
  .changeset/curly-pillows-end.md
  .changeset/fair-steaks-tan.md
  .changeset/little-avocados-cross.md
  .changeset/purple-beans-cross.md
  .changeset/purple-ligers-dance.md
  .changeset/spicy-cats-knock.md
  README.md
  packages/pharos/src/components/toggle-button-group/PharosToggleButtonGroup.react.stories.mdx
  packages/pharos/src/components/toggle-button-group/pharos-toggle-button-group.scss
  packages/pharos/src/components/toggle-button-group/pharos-toggle-button-group.test.ts
  packages/pharos/src/components/toggle-button-group/pharos-toggle-button-group.ts
  packages/pharos/src/components/toggle-button-group/pharos-toggle-button-group.wc.stories.mdx
  packages/pharos/src/components/toggle-button-group/pharos-toggle-button.scss
  packages/pharos/src/components/toggle-button-group/pharos-toggle-button.test.ts
  packages/pharos/src/components/toggle-button-group/pharos-toggle-button.ts
  packages/pharos/src/index.ts
Labels: component/toggle-button-group, ithaka/pharos, status/ready to test

#34 documentation: update component documentation to use PageSection
  .changeset/chatty-knives-destroy.md
  .changeset/clever-tomatoes-worry.md
  .changeset/curly-pillows-end.md
  .changeset/cyan-frogs-end.md
  .changeset/fair-steaks-tan.md
  .changeset/little-avocados-cross.md
  .changeset/little-snakes-wonder.md
  .changeset/modern-pots-provide.md
  .changeset/purple-beans-cross.md
  .changeset/purple-ligers-dance.md
  .changeset/spicy-cats-knock.md
  packages/pharos-site/src/components/statics/PageSection.module.css
  packages/pharos-site/src/components/statics/PageSection.tsx
  packages/pharos-site/src/pages/content-style-guide/grammar-and-style/index.mdx
  packages/pharos-site/src/pages/content-style-guide/jstor-terms.mdx
  packages/pharos-site/src/pages/content-style-guide/web-elements.mdx
  packages/pharos-site/static/guidelines/alert.docs.mdx
  packages/pharos-site/static/guidelines/breadcrumb.docs.mdx
  packages/pharos-site/static/guidelines/button.docs.mdx
  packages/pharos-site/static/guidelines/checkbox.docs.mdx
  packages/pharos-site/static/guidelines/combobox.docs.mdx
  packages/pharos-site/static/guidelines/dropdown-menu-nav.docs.mdx
  packages/pharos-site/static/guidelines/dropdown-menu.docs.mdx
  packages/pharos-site/static/guidelines/footer.docs.mdx
  packages/pharos-site/static/guidelines/header.docs.mdx
  packages/pharos-site/static/guidelines/icon.docs.mdx
  packages/pharos-site/static/guidelines/input-group.docs.mdx
  packages/pharos-site/static/guidelines/link.docs.mdx
  packages/pharos-site/static/guidelines/loading-spinner.docs.mdx
  packages/pharos-site/static/guidelines/modal.docs.mdx
  packages/pharos-site/static/guidelines/pagination.docs.mdx
  packages/pharos-site/static/guidelines/progress-bar.docs.mdx
  packages/pharos-site/static/guidelines/radio.docs.mdx
  packages/pharos-site/static/guidelines/select.docs.mdx
  packages/pharos-site/static/guidelines/sidenav.docs.mdx
  packages/pharos-site/static/guidelines/tabs.docs.mdx
  packages/pharos-site/static/guidelines/template.mdx
  packages/pharos-site/static/guidelines/text-input.docs.mdx
  packages/pharos-site/static/guidelines/textarea.docs.mdx
  packages/pharos-site/static/guidelines/toast.docs.mdx
  packages/pharos-site/static/guidelines/tooltip.docs.mdx
  packages/pharos-site/static/guidelines/type-styles.docs.mdx
Labels: documentation, ithaka/pharos-site, sass, status/code review

#44 fix: exclude changesets from lint-staged
  lint-staged.config.js
Labels: note/bug fix, status/code review

#35 Feature/update and implement best practices component
  .changeset/chatty-knives-destroy.md
  .changeset/clever-tomatoes-worry.md
  .changeset/curly-pillows-end.md
  .changeset/cyan-frogs-end.md
  .changeset/fair-steaks-tan.md
  .changeset/little-avocados-cross.md
  .changeset/little-snakes-wonder.md
  .changeset/modern-pots-provide.md
  .changeset/purple-beans-cross.md
  .changeset/purple-ligers-dance.md
  .changeset/small-cougars-relate.md
  .changeset/spicy-cats-knock.md
  packages/pharos-site/src/components/statics/BestPractices.module.css
  packages/pharos-site/src/components/statics/BestPractices.tsx
  packages/pharos-site/static/guidelines/breadcrumb.docs.mdx
  packages/pharos-site/static/guidelines/button.docs.mdx
  packages/pharos-site/static/guidelines/heading.docs.mdx
  packages/pharos-site/static/guidelines/modal.docs.mdx
Labels: accessibility, documentation, ithaka/pharos-site, status/code review

#48 chore: update dependencies
  .changeset/hot-pots-smash.md
  package.json
  packages/pharos-cli/package.json
  packages/pharos-site/package.json
  packages/pharos/package.json
  packages/pharos/src/utils/scss/_functions.scss
  yarn.lock
Labels: infrastructure, ithaka/pharos, ithaka/pharos-cli, ithaka/pharos-site, status/ready to test

#51 fix(pharos): render link for error image cards and allow subtle state
  .changeset/angry-dragons-eat.md
  packages/pharos/src/components/image-card/pharos-image-card.scss
  packages/pharos/src/components/image-card/pharos-image-card.test.ts
  packages/pharos/src/components/image-card/pharos-image-card.ts
Labels: component/image-card, ithaka/pharos, note/bug fix, status/code review
