Repository ithaka/pharos, pull requests merged in 2021-09, with the labels that each got.

#213 fix(input-group): update validation icon placement when items are appended dynamically
  .changeset/pink-ties-approve.md
  packages/pharos/src/components/input-group/pharos-input-group.test.ts
  packages/pharos/src/components/input-group/pharos-input-group.ts
Labels: note/bug fix, status/code review, ithaka/pharos, component/input-group

#214 chore: update Lit to latest RC
  .changeset/giant-rabbits-occur.md
  package.json
  packages/pharos/package.json
  packages/pharos/src/components/alert/pharos-alert.wc.stories.mdx
  packages/pharos/src/components/button/pharos-button.wc.stories.mdx
  packages/pharos/src/components/combobox/pharos-combobox.wc.stories.mdx
  packages/pharos/src/components/link/pharos-link.wc.stories.mdx
  packages/pharos/src/components/modal/pharos-modal.wc.stories.mdx
  packages/pharos/src/components/text-input/pharos-text-input.wc.stories.mdx
  packages/pharos/src/components/textarea/pharos-textarea.wc.stories.mdx
  packages/pharos/src/components/tooltip/pharos-tooltip.wc.stories.mdx
  yarn.lock
Labels: infrastructure, status/code review, ithaka/pharos

#215 feat(icon): Add saved icon
  .changeset/thin-experts-yell.md
  packages/pharos/assets/icons/saved.svg
  packages/pharos/tokens/assets/icons.json
Labels: status/code review, ithaka/pharos, component/icon

#216 feat(button): Add overlay variant
  .changeset/nine-shoes-joke.md
  packages/pharos/src/components/button/PharosButton.react.stories.mdx
  packages/pharos/src/components/button/pharos-button.scss
  packages/pharos/src/components/button/pharos-button.test.ts
  packages/pharos/src/components/button/pharos-button.ts
  packages/pharos/src/components/button/pharos-button.wc.stories.mdx
Labels: status/ready to test, ithaka/pharos, component/button

#221 fix: wrap footer with landmark for accessibility navigation
  .vscode/settings.json
  packages/pharos-site/src/components/footer.tsx
Labels: status/code review, accessibility, ithaka/pharos-site

#223 fix(site): Replace google doc links. Fix typos.
  .changeset/metal-otters-hear.md
  packages/pharos-site/src/pages/brand-expressions/color.mdx
  packages/pharos-site/src/pages/brand-expressions/typography.mdx
  packages/pharos-site/src/pages/content-style-guide/editing-checklist.mdx
  packages/pharos-site/src/pages/content-style-guide/voice-and-tone/index.mdx
  packages/pharos-site/src/pages/content-style-guide/web-elements.mdx
  packages/pharos-site/src/pages/contributing/documentation/index.mdx
  packages/pharos-site/static/files/documentations/documentation-template.pdf
  packages/pharos-site/static/guidelines/tooltip.docs.mdx
  packages/pharos-site/static/guidelines/type-styles.docs.mdx
Labels: status/code review, ithaka/pharos-site
