Repository ithaka/pharos, pull requests merged in 2021-12, with the labels that each got.

#269 fix(modal): adjust footer slotted content spacing
  .changeset/mighty-fishes-glow.md
  package.json
  packages/pharos/src/components/modal/pharos-modal.scss
  yarn.lock
Labels: note/bug fix, status/code review, ithaka/pharos, component/modal

#268 feat: add component register utility
  .changeset/witty-kangaroos-rhyme.md
  package.json
  packages/pharos-cli/src/templates/typescript-file-template.js
  packages/pharos-site/initComponents.tsx
  packages/pharos-site/src/components/layout.tsx
  packages/pharos-site/src/pages/components/modal/index.mdx
  packages/pharos-site/src/pages/getting-started.mdx
  packages/pharos-site/wrap-root-element.tsx
  packages/pharos/README.md
  packages/pharos/scripts/build-react.js
  packages/pharos/src/components/alert/pharos-alert.ts
  packages/pharos/src/components/base/pharos-element.ts
  packages/pharos/src/components/breadcrumb/pharos-breadcrumb-item.ts
  packages/pharos/src/components/breadcrumb/pharos-breadcrumb.ts
  packages/pharos/src/components/button/pharos-button.ts
  packages/pharos/src/components/checkbox-group/pharos-checkbox-group.ts
  packages/pharos/src/components/checkbox/pharos-checkbox.ts
  packages/pharos/src/components/combobox/pharos-combobox.ts
  packages/pharos/src/components/dropdown-menu-nav/pharos-dropdown-menu-nav-link.ts
  packages/pharos/src/components/dropdown-menu-nav/pharos-dropdown-menu-nav.ts
  packages/pharos/src/components/dropdown-menu/pharos-dropdown-menu-item.ts
  packages/pharos/src/components/dropdown-menu/pharos-dropdown-menu.ts
  packages/pharos/src/components/footer/pharos-footer.ts
  packages/pharos/src/components/header/pharos-header.ts
  packages/pharos/src/components/heading/pharos-heading.ts
  packages/pharos/src/components/icon/pharos-icon.ts
  packages/pharos/src/components/image-card/pharos-image-card.ts
  packages/pharos/src/components/input-group/pharos-input-group-select.ts
  packages/pharos/src/components/input-group/pharos-input-group.ts
  packages/pharos/src/components/layout/pharos-layout.ts
  packages/pharos/src/components/link/pharos-link.ts
  packages/pharos/src/components/loading-spinner/pharos-loading-spinner.ts
  packages/pharos/src/components/modal/pharos-modal.ts
  packages/pharos/src/components/pagination/pharos-pagination.ts
  packages/pharos/src/components/progress-bar/pharos-progress-bar.ts
  packages/pharos/src/components/radio-button/pharos-radio-button.ts
  packages/pharos/src/components/radio-group/pharos-radio-group.ts
  packages/pharos/src/components/select/pharos-select.ts
  packages/pharos/src/components/sidenav/pharos-sidenav-button.ts
  packages/pharos/src/components/sidenav/pharos-sidenav-link.ts
  packages/pharos/src/components/sidenav/pharos-sidenav-menu.ts
  packages/pharos/src/components/sidenav/pharos-sidenav-section.ts
  packages/pharos/src/components/sidenav/pharos-sidenav.ts
  packages/pharos/src/components/tabs/pharos-tab-panel.ts
  packages/pharos/src/components/tabs/pharos-tab.ts
  packages/pharos/src/components/tabs/pharos-tabs.ts
  packages/pharos/src/components/text-input/pharos-text-input.ts
  packages/pharos/src/components/textarea/pharos-textarea.ts
  packages/pharos/src/components/toast/pharos-toast-button.ts
  packages/pharos/src/components/toast/pharos-toast.ts
  packages/pharos/src/components/toast/pharos-toaster.ts
  packages/pharos/src/components/toggle-button-group/pharos-toggle-button-group.ts
  packages/pharos/src/components/toggle-button-group/pharos-toggle-button.ts
  packages/pharos/src/components/tooltip/pharos-tooltip.ts
  packages/pharos/src/test/initComponents.ts
  packages/pharos/src/utils/PharosContext.tsx
  packages/pharos/src/utils/createReactComponent.tsx
  packages/pharos/src/utils/mixins/pharos-component.ts
  packages/pharos/src/utils/registerComponents.ts
Labels: infrastructure, status/code review, ithaka/pharos-cli, ithaka/pharos, ithaka/pharos-site

#271 docs: add bundlephobia shield to README
  README.md
Labels: documentation, status/code review

#272 chore: add codeowners file for auto PR assignment
  .github/CODEOWNERS
Labels: status/code review

#273 docs: update release documentation to include post release activties
  docs/development/conventions/creating-a-release.md
Labels: documentation, status/code review

#274 feat(link): Add button that looks like link
  .changeset/loud-bikes-relax.md
  packages/pharos/src/components/link/PharosLink.react.stories.mdx
  packages/pharos/src/components/link/pharos-link.scss
  packages/pharos/src/components/link/pharos-link.test.ts
  packages/pharos/src/components/link/pharos-link.ts
  packages/pharos/src/components/link/pharos-link.wc.stories.mdx
Labels: status/code review, ithaka/pharos, component/link

#277 fix(link): check href prop for render
  .changeset/happy-seas-fix.md
  packages/pharos-site/src/pages/getting-started.mdx
  packages/pharos/README.md
  packages/pharos/src/components/link/pharos-link.ts
  packages/pharos/src/utils/scss/_mixins.scss
Labels: note/bug fix, status/code review, ithaka/pharos, component/link

#276 feat(site): show component examples after main heading
  .all-contributorsrc
  .changeset/thin-clouds-crash.md
  README.md
  packages/pharos-site/src/components/statics/PageSection.module.css
  packages/pharos-site/src/components/statics/PageSection.tsx
  packages/pharos-site/src/pages/components/alert/index.mdx
  packages/pharos-site/src/pages/components/breadcrumb/index.mdx
  packages/pharos-site/src/pages/components/button/index.mdx
  packages/pharos-site/src/pages/components/checkbox/index.mdx
  packages/pharos-site/src/pages/components/combobox/index.mdx
  packages/pharos-site/src/pages/components/dropdown-menu-nav/index.mdx
  packages/pharos-site/src/pages/components/dropdown-menu/index.mdx
  packages/pharos-site/src/pages/components/footer/index.mdx
  packages/pharos-site/src/pages/components/header/index.mdx
  packages/pharos-site/src/pages/components/heading/index.mdx
  packages/pharos-site/src/pages/components/icon/index.mdx
  packages/pharos-site/src/pages/components/image-card/index.mdx
  packages/pharos-site/src/pages/components/input-group/index.mdx
  packages/pharos-site/src/pages/components/link/index.mdx
  packages/pharos-site/src/pages/components/loading-spinner/index.mdx
  packages/pharos-site/src/pages/components/pagination/index.mdx
  packages/pharos-site/src/pages/components/progress-bar/index.mdx
  packages/pharos-site/src/pages/components/radio-button/index.mdx
  packages/pharos-site/src/pages/components/select/index.mdx
  packages/pharos-site/src/pages/components/tabs/index.mdx
  packages/pharos-site/src/pages/components/text-input/index.mdx
  packages/pharos-site/src/pages/components/textarea/index.mdx
  packages/pharos-site/src/pages/components/toast/index.mdx
  packages/pharos-site/src/pages/components/tooltip/index.mdx
  packages/pharos-site/static/guidelines/alert.docs.mdx
  packages/pharos-site/static/guidelines/breadcrumb.docs.mdx
  packages/pharos-site/static/guidelines/button.docs.mdx
  packages/pharos-site/static/guidelines/checkbox.docs.mdx
  packages/pharos-site/static/guidelines/combobox.docs.mdx
  packages/pharos-site/static/guidelines/dropdown-menu-nav.docs.mdx
  packages/pharos-site/static/guidelines/dropdown-menu.docs.mdx
  packages/pharos-site/static/guidelines/footer.docs.mdx
  packages/pharos-site/static/guidelines/header.docs.mdx
  packages/pharos-site/static/guidelines/heading.docs.mdx
  packages/pharos-site/static/guidelines/icon.docs.mdx
  packages/pharos-site/static/guidelines/image-card.docs.mdx
  packages/pharos-site/static/guidelines/input-group.docs.mdx
  packages/pharos-site/static/guidelines/link.docs.mdx
  packages/pharos-site/static/guidelines/loading-spinner.docs.mdx
  packages/pharos-site/static/guidelines/modal.docs.mdx
  packages/pharos-site/static/guidelines/pagination.docs.mdx
  packages/pharos-site/static/guidelines/progress-bar.docs.mdx
  packages/pharos-site/static/guidelines/radio.docs.mdx
  packages/pharos-site/static/guidelines/select.docs.mdx
  packages/pharos-site/static/guidelines/tabs.docs.mdx
  packages/pharos-site/static/guidelines/text-input.docs.mdx
  packages/pharos-site/static/guidelines/textarea.docs.mdx
  packages/pharos-site/static/guidelines/toast.docs.mdx
  packages/pharos-site/static/guidelines/tooltip.docs.mdx
Labels: documentation, status/code review, ithaka/pharos-site

#281 ci: add size-limit action
  .changeset/thick-rabbits-happen.md
  .github/workflows/size-limit.yml
  package.json
  packages/pharos/package.json
  yarn.lock
Labels: infrastructure, status/code review, ithaka/pharos

#285 docs: update bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: infrastructure, status/code review

#284 feat: create component request template
  .github/ISSUE_TEMPLATE/component_request.md
Labels: infrastructure, status/code review

#288 chore(storybook): update dependencies
  package.json
  yarn.lock
Labels: status/code review, dependencies

#289 fix(storybook): add useDefineForClassFields false
  .storybook/webpack.config.js
  package.json
  packages/pharos/tsconfig.json
  yarn.lock
Labels: note/bug fix, status/code review, storybook
