Repository ithaka/pharos, pull requests merged in 2021-07, with the labels that each got.

#135 feat(pharos-site): add cookie settings link to footer
  .changeset/strange-spiders-watch.md
  packages/pharos-site/src/components/footer.tsx
Labels: component/footer, ithaka/pharos-site, status/code review

#133 feature/image card heading level
  .changeset/heavy-rocks-cough.md
  packages/pharos/src/components/image-card/pharos-image-card.test.ts
  packages/pharos/src/components/image-card/pharos-image-card.ts
Labels: component/image-card, status/ready to test

#136 fix(image-card): horizontally center image within card
  .changeset/nervous-chefs-dance.md
  packages/pharos/src/components/image-card/pharos-image-card.scss
  packages/pharos/src/components/image-card/pharos-image-card.ts
Labels: component/image-card, status/code review

#137 feat(pharos): use SassDoc to document SASS
  .changeset/nine-donuts-lie.md
  .gitignore
  .husky/.gitignore
  .prettierignore
  .storybook/sass.ts
  package.json
  packages/pharos/package.json
  packages/pharos/scripts/build-sassdoc.js
  packages/pharos/src/styles/sass.react.stories.mdx
  packages/pharos/src/styles/sass.wc.stories.mdx
  packages/pharos/src/utils/scss/_mixins.scss
  yarn.lock
Labels: ithaka/pharos, sass, status/code review

#140 style(image-card): unset `contain` for link surrounding image
  .changeset/empty-bikes-divide.md
  packages/pharos/src/components/image-card/pharos-image-card.scss
Labels: component/image-card, status/code review

#142 style(toast): set max-width on mobile
  .changeset/kind-drinks-fold.md
  packages/pharos/src/components/toast/pharos-toast.scss
  packages/pharos/src/components/toast/pharos-toast.wc.stories.mdx
Labels: component/toast, ithaka/pharos, note/bug fix, status/ready to test

#145 style(image-card): force 100% width for better alignment within the grid
  .changeset/curvy-lies-develop.md
  packages/pharos/src/components/image-card/pharos-image-card.scss
Labels: component/image-card, ithaka/pharos, note/bug fix, status/code review

#147 feat(tokens): add pharos-spacing-10-x token
  .changeset/rare-icons-agree.md
  packages/pharos/tokens/spacing/base.json
Labels: design tokens

#150 docs(pharos-site): add layout component page to components section
  .changeset/rich-drinks-call.md
  packages/pharos-site/src/components/Sidenav.tsx
  packages/pharos-site/src/pages/components/layout/index.mdx
  packages/pharos-site/static/guidelines/layout.docs.mdx
  packages/pharos-site/static/images/components/layout/grid_elements.png
Labels: component/layout, documentation, ithaka/pharos-site, status/code review

#155 ci: update release workflow to merge main into develop
  .github/workflows/release.yml
  docs/development/conventions/creating-a-release.md
Labels: infrastructure, status/code review

#158 fix: run lit-analyzer on pre-commit
  lint-staged.config.js
  packages/pharos/package.json
  yarn.lock
Labels: infrastructure, status/code review

#157 Image Card: Add `promotional` variant and `source-type` prop
  .changeset/six-yaks-rhyme.md
  packages/pharos-site/static/styles/global.scss
  packages/pharos/src/components/image-card/PharosImageCard.react.stories.mdx
  packages/pharos/src/components/image-card/pharos-image-card.scss
  packages/pharos/src/components/image-card/pharos-image-card.test.ts
  packages/pharos/src/components/image-card/pharos-image-card.ts
  packages/pharos/src/components/image-card/pharos-image-card.wc.stories.mdx
Labels: component/image-card, ithaka/pharos, status/ready to test

#163 Image card: Fix long title overflow
  .changeset/twelve-bananas-beg.md
  packages/pharos/src/components/image-card/pharos-image-card.scss
Labels: component/image-card, ithaka/pharos, status/code review

#165 Image Card: Allow promotional variant images to have dynamic height
  .changeset/red-students-rescue.md
  packages/pharos/src/components/image-card/pharos-image-card.scss
Labels: component/image-card, note/bug fix, status/code review

#169 fix(select): set the selection when a value is initially passed
  .changeset/smart-peaches-compete.md
  packages/pharos/src/components/select/pharos-select.test.ts
  packages/pharos/src/components/select/pharos-select.ts
Labels: component/select, ithaka/pharos, note/bug fix, status/code review

#171 fix(image-card): do not truncate promotional titles
  .changeset/polite-tables-breathe.md
  packages/pharos/src/components/image-card/pharos-image-card.scss
Labels: component/image-card, ithaka/pharos, note/bug fix

#172 fix(layout): apply margins for breakpoints medium and above for 1-col
  .changeset/chilled-birds-invite.md
  packages/pharos/src/utils/scss/_mixins.scss
Labels: component/layout, ithaka/pharos, note/bug fix

#185 chore: update dependencies
  .changeset/lemon-frogs-listen.md
  .github/workflows/verify.yml
  package.json
  packages/pharos/package.json
  packages/pharos/scripts/build-react.js
  packages/pharos/scripts/build-styles.js
  yarn.lock
Labels: infrastructure, ithaka/pharos, status/code review

#186 feat: use custom elements manifest v1.0.0
  .changeset/silver-pandas-remember.md
  .storybook/wc/preview.js
  package.json
  packages/pharos/custom-elements-manifest.config.mjs
  packages/pharos/package.json
  packages/pharos/scripts/build-react.js
  packages/pharos/src/components/alert/pharos-alert.ts
  packages/pharos/src/components/breadcrumb/pharos-breadcrumb-item.ts
  packages/pharos/src/components/breadcrumb/pharos-breadcrumb.ts
  packages/pharos/src/components/button/pharos-button.ts
  packages/pharos/src/components/checkbox-group/pharos-checkbox-group.ts
  packages/pharos/src/components/checkbox/pharos-checkbox.ts
  packages/pharos/src/components/combobox/pharos-combobox.ts
  packages/pharos/src/components/dropdown-menu-nav/pharos-dropdown-menu-nav-link.ts
  packages/pharos/src/components/dropdown-menu-nav/pharos-dropdown-menu-nav.ts
  packages/pharos/src/components/dropdown-menu/pharos-dropdown-menu-item.ts
  packages/pharos/src/components/dropdown-menu/pharos-dropdown-menu.ts
  packages/pharos/src/components/footer/pharos-footer.ts
  packages/pharos/src/components/header/pharos-header.ts
  packages/pharos/src/components/heading/pharos-heading.ts
  packages/pharos/src/components/icon/pharos-icon.ts
  packages/pharos/src/components/image-card/pharos-image-card.ts
  packages/pharos/src/components/input-group/pharos-input-group-select.ts
  packages/pharos/src/components/input-group/pharos-input-group.ts
  packages/pharos/src/components/layout/pharos-layout.ts
  packages/pharos/src/components/link/pharos-link.ts
  packages/pharos/src/components/loading-spinner/pharos-loading-spinner.ts
  packages/pharos/src/components/modal/pharos-modal.ts
  packages/pharos/src/components/pagination/pharos-pagination.ts
  packages/pharos/src/components/progress-bar/pharos-progress-bar.ts
  packages/pharos/src/components/radio-button/pharos-radio-button.ts
  packages/pharos/src/components/radio-group/pharos-radio-group.ts
  packages/pharos/src/components/select/pharos-select.ts
  packages/pharos/src/components/sidenav/pharos-sidenav-button.ts
  packages/pharos/src/components/sidenav/pharos-sidenav-link.ts
  packages/pharos/src/components/sidenav/pharos-sidenav-menu.ts
  packages/pharos/src/components/sidenav/pharos-sidenav-section.ts
  packages/pharos/src/components/sidenav/pharos-sidenav.ts
  packages/pharos/src/components/tabs/pharos-tab-panel.ts
  packages/pharos/src/components/tabs/pharos-tab.ts
  packages/pharos/src/components/tabs/pharos-tabs.ts
  packages/pharos/src/components/text-input/pharos-text-input.ts
  packages/pharos/src/components/textarea/pharos-textarea.ts
  packages/pharos/src/components/toast/pharos-toast-button.ts
  packages/pharos/src/components/toast/pharos-toast.ts
  packages/pharos/src/components/toast/pharos-toaster.ts
  packages/pharos/src/components/toggle-button-group/pharos-toggle-button-group.ts
  packages/pharos/src/components/toggle-button-group/pharos-toggle-button.ts
  packages/pharos/src/components/tooltip/pharos-tooltip.ts
  yarn.lock
Labels: infrastructure, ithaka/pharos, status/code review
