Repository ithaka/pharos, pull requests merged in 2022-08, with the labels that each got.

#384 fix(card): restructure cards to avoid extra mouse events preventing selection in Safari
  .changeset/beige-oranges-walk.md
  packages/pharos/src/components/image-card/pharos-image-card.scss
  packages/pharos/src/components/image-card/pharos-image-card.test.ts
  packages/pharos/src/components/image-card/pharos-image-card.ts
Labels: note/bug fix, status/ready to test, component/image-card

#386 TextInput / InputGroup: prominent variant
  .changeset/neat-shirts-doubt.md
  packages/pharos/src/components/input-group/PharosInputGroup.react.stories.mdx
  packages/pharos/src/components/input-group/pharos-input-group.scss
  packages/pharos/src/components/input-group/pharos-input-group.ts
  packages/pharos/src/components/input-group/pharos-input-group.wc.stories.mdx
  packages/pharos/src/components/text-input/PharosTextInput.react.stories.mdx
  packages/pharos/src/components/text-input/pharos-text-input.scss
  packages/pharos/src/components/text-input/pharos-text-input.test.ts
  packages/pharos/src/components/text-input/pharos-text-input.ts
  packages/pharos/src/components/text-input/pharos-text-input.wc.stories.mdx
  packages/pharos/src/utils/scss/_mixins.scss
Labels: component/input-group, component/text-input

#388 Fix/text input remove contain
  .all-contributorsrc
  .changeset/swift-shirts-sleep.md
  README.md
  packages/pharos/src/components/text-input/pharos-text-input.scss
Labels: note/bug fix, status/code review, component/text-input

#390 feat(site): add last updated column to status page
  .github/PULL_REQUEST_TEMPLATE.md
  packages/pharos-site/src/components/statics/component-status/StatusTable.tsx
  packages/pharos-site/src/pages/components/component-status/status.json
Labels: documentation, status/code review, ithaka/pharos-site

#392 ImageCard: Selectable Image card keyboard accessibility
  .changeset/spicy-geckos-worry.md
  packages/pharos/src/components/image-card/pharos-image-card.scss
  packages/pharos/src/components/image-card/pharos-image-card.test.ts
  packages/pharos/src/components/image-card/pharos-image-card.ts
Labels: note/bug fix, accessibility, component/image-card

#393 ImageCard: remove event.stopPropagation from _cardToggleSelect
  .changeset/light-cups-guess.md
  packages/pharos/src/components/image-card/pharos-image-card.ts
Labels: note/bug fix, component/image-card

#397 TextInput: explicitly set margin to avoid undesired user agent styles
  .changeset/tender-ways-impress.md
  packages/pharos/src/utils/scss/_mixins.scss
Labels: status/code review, component/text-input, note/environment-specific

#400 Checkbox, RadioButton: allow for scoped pharos links
  .changeset/stupid-ravens-rest.md
  packages/pharos/src/components/checkbox/pharos-checkbox.ts
  packages/pharos/src/components/radio-button/pharos-radio-button.ts
Labels: component/checkbox, component/radio-button
