Repository ithaka/pharos, pull requests merged in 2022-11, with the labels that each got.

#434 Tooltip, DropdownMenu: replace popperjs with floating-ui
  .changeset/fast-chicken-repeat.md
  .github/workflows/chromatic.yml
  .github/workflows/release.yml
  .github/workflows/size-limit.yml
  .github/workflows/verify.yml
  package.json
  packages/pharos-site/static/guidelines/tooltip.docs.mdx
  packages/pharos/package.json
  packages/pharos/src/components/base/overlay-element.ts
  packages/pharos/src/components/button/pharos-button.scss
  packages/pharos/src/components/dropdown-menu/pharos-dropdown-menu.scss
  packages/pharos/src/components/dropdown-menu/pharos-dropdown-menu.test.ts
  packages/pharos/src/components/dropdown-menu/pharos-dropdown-menu.ts
  packages/pharos/src/components/layout/PharosLayout.react.stories.mdx
  packages/pharos/src/components/link/pharos-link.scss
  packages/pharos/src/components/text-input/pharos-text-input.scss
  packages/pharos/src/components/toggle-button-group/PharosToggleButtonGroup.react.stories.mdx
  packages/pharos/src/components/toggle-button-group/pharos-toggle-button-group.wc.stories.mdx
  packages/pharos/src/components/toggle-button-group/pharos-toggle-button.scss
  packages/pharos/src/components/tooltip/PharosTooltip.react.stories.mdx
  packages/pharos/src/components/tooltip/pharos-tooltip.scss
  packages/pharos/src/components/tooltip/pharos-tooltip.test.ts
  packages/pharos/src/components/tooltip/pharos-tooltip.ts
  packages/pharos/src/components/tooltip/pharos-tooltip.wc.stories.mdx
  packages/pharos/src/utils/popper.ts
  packages/pharos/src/utils/scss/_mixins.scss
  yarn.lock
Labels: status/code review, component/dropdown-menu, component/tooltip

#438 ToggleButton: indicate toggle button state on underlying button elements
  .changeset/long-seahorses-obey.md
  packages/pharos/src/components/button/pharos-button.test.ts
  packages/pharos/src/components/button/pharos-button.ts
  packages/pharos/src/components/sidenav/pharos-sidenav-button.ts
  packages/pharos/src/components/toast/pharos-toast-button.ts
  packages/pharos/src/components/toggle-button-group/pharos-toggle-button-group.test.ts
  packages/pharos/src/components/toggle-button-group/pharos-toggle-button-group.ts
  packages/pharos/src/components/toggle-button-group/pharos-toggle-button.ts
Labels: status/code review, component/toggle-button-group

#442 Tabs: fire event when tab selected programmatically
  .changeset/six-days-ring.md
  packages/pharos/src/components/tabs/pharos-tab.ts
Labels: status/code review, component/tabs

#444 Docs: update copy for Button's on-background usage
  .changeset/lemon-islands-sin.md
  packages/pharos-site/static/guidelines/button.docs.mdx
Labels: documentation, status/code review, component/button

#445 Storybook: install Measure and Outline addons
  .storybook/main.js
  package.json
  yarn.lock
Labels: storybook

#449 Tabs: fix initial tab selection in more cases
  .changeset/violet-tigers-perform.md
  packages/pharos/src/components/tabs/pharos-tab.test.ts
  packages/pharos/src/components/tabs/pharos-tab.ts
  packages/pharos/src/components/tabs/pharos-tabs.test.ts
  packages/pharos/src/components/tabs/pharos-tabs.ts
Labels: note/bug fix, status/ready to test, component/tabs

#451 Dropdown: apply position computation and styles to proper element
  .changeset/olive-days-melt.md
  packages/pharos/src/components/dropdown-menu/pharos-dropdown-menu.ts
Labels: note/bug fix, status/code review, component/dropdown-menu

#454 Infra: add icon SVG linting using svglint
  .svglintrc.js
  package.json
  yarn.lock
Labels: infrastructure, status/code review, component/icon

#453 Refactor: use queryAssignedElements and simplify focus loops
  .changeset/stupid-crabs-remember.md
  packages/pharos/src/components/alert/pharos-alert.ts
  packages/pharos/src/components/breadcrumb/pharos-breadcrumb.ts
  packages/pharos/src/components/checkbox-group/pharos-checkbox-group.ts
  packages/pharos/src/components/combobox/pharos-combobox.ts
  packages/pharos/src/components/dropdown-menu-nav/pharos-dropdown-menu-nav.ts
  packages/pharos/src/components/dropdown-menu/pharos-dropdown-menu.ts
  packages/pharos/src/components/radio-group/pharos-radio-group.ts
  packages/pharos/src/components/sidenav/pharos-sidenav-menu.ts
  packages/pharos/src/components/tabs/pharos-tabs.ts
  packages/pharos/src/components/toggle-button-group/pharos-toggle-button-group.ts
  packages/pharos/src/utils/math.test.ts
  packages/pharos/src/utils/math.ts
Labels: status/code review

#457 Tabs: make tabs scroll horizontally when cramped
  .changeset/blue-adults-attend.md
  .storybook/main/preview.js
  .storybook/react/preview.js
  .storybook/wc/preview.js
  packages/pharos-site/static/guidelines/tabs.docs.mdx
  packages/pharos/src/components/tabs/PharosTabs.react.stories.jsx
  packages/pharos/src/components/tabs/pharos-tab.scss
  packages/pharos/src/components/tabs/pharos-tab.ts
  packages/pharos/src/components/tabs/pharos-tabs.scss
  packages/pharos/src/components/tabs/pharos-tabs.ts
  packages/pharos/src/components/tabs/pharos-tabs.wc.stories.jsx
  packages/pharos/src/utils/math.ts
Labels: status/code review, component/tabs

#456 Docs: Add documentation for overlay button variant
  .changeset/eleven-pianos-decide.md
  packages/pharos-site/static/guidelines/button.docs.mdx
Labels: documentation, component/button

#459 Icon: Add new fit-to-width icon
  .changeset/soft-spies-teach.md
  packages/pharos-site/src/pages/brand-expressions/iconography.mdx
  packages/pharos/assets/icons/fit-to-width.svg
  packages/pharos/tokens/assets/icons.json
Labels: component/icon
