Repository ithaka/pharos, pull requests merged in 2022-01, with the labels that each got.

#291 chore(site): update copyright statement
  packages/pharos-site/src/components/footer.tsx
Labels: status/code review

#290 bugfix(dropdown menu item): Stop disabled dropdown menu items from triggering click events using @click attribute
  .changeset/pink-melons-tickle.md
  packages/pharos/src/components/dropdown-menu/pharos-dropdown-menu-item.scss
  packages/pharos/src/components/dropdown-menu/pharos-dropdown-menu-item.test.ts
Labels: bug, component/dropdown-menu

#293 fix(dropdown-menu-item): pass rel attribute from menu item to anchor tag
  .changeset/cuddly-rabbits-attack.md
  packages/pharos/src/components/dropdown-menu/pharos-dropdown-menu-item.test.ts
  packages/pharos/src/components/dropdown-menu/pharos-dropdown-menu-item.ts
Labels: note/bug fix, bug, component/dropdown-menu

#295 feat(header): update slots and grid for new designs
  .changeset/cuddly-owls-type.md
  packages/pharos-site/static/styles/global.scss
  packages/pharos/src/components/header/PharosHeader.react.stories.mdx
  packages/pharos/src/components/header/pharos-header.scss
  packages/pharos/src/components/header/pharos-header.ts
  packages/pharos/src/components/header/pharos-header.wc.stories.mdx
  packages/pharos/src/pages/shared/react/Header.tsx
  packages/pharos/src/pages/shared/wc/header.ts
Labels: status/code review, component/header, BREAKING

#297 fix(header): push navigation areas to boundaries
  .changeset/wicked-actors-burn.md
  packages/pharos/src/components/header/pharos-header.scss
Labels: note/bug fix, component/header
