Repository ithaka/pharos, pull requests merged in 2022-03, with the labels that each got.

#320 feat(icons): add new icons checkmark-filled-circle, circle and partial-circle
  .changeset/nice-beans-switch.md
  packages/pharos/assets/icons/checkmark-filled-circle.svg
  packages/pharos/assets/icons/circle.svg
  packages/pharos/assets/icons/partial-circle.svg
  packages/pharos/tokens/assets/icons.json
Labels: status/ready to test, component/icon

#319 fix(build-styles): Enhance build-styles script to minify css
  .changeset/modern-grapes-reply.md
  packages/pharos/scripts/build-styles.js
  packages/pharos/src/utils/scss/_mixins.scss
Labels: infrastructure, status/ready to test, ithaka/pharos

#322 Feat(toast): add info variation
  .changeset/quick-fireants-cheer.md
  packages/pharos/src/components/toast/pharos-toast.scss
  packages/pharos/src/components/toast/pharos-toast.test.ts
  packages/pharos/src/components/toast/pharos-toast.ts
  packages/pharos/src/components/toast/pharos-toast.wc.stories.mdx
Labels: status/ready to test, component/toast

#325 Icon: Fix newly added SVG icons
  .changeset/tasty-wombats-buy.md
  packages/pharos/assets/icons/checkmark-filled-circle.svg
  packages/pharos/assets/icons/circle.svg
  packages/pharos/assets/icons/partial-circle.svg
Labels: status/code review, component/icon

#327 Icon: Remove `fill` attribute on newly added icons
  .changeset/selfish-fishes-remain.md
  packages/pharos/assets/icons/checkmark-filled-circle.svg
  packages/pharos/assets/icons/circle.svg
  packages/pharos/assets/icons/partial-circle.svg
Labels: status/code review, component/icon

#330 feature: add optional horizontal line to tabs
  .changeset/serious-suns-decide.md
  packages/pharos/src/components/tabs/pharos-tabs.scss
  packages/pharos/src/components/tabs/pharos-tabs.test.ts
  packages/pharos/src/components/tabs/pharos-tabs.ts
  packages/pharos/src/components/tabs/pharos-tabs.wc.stories.mdx
Labels: status/code review, ithaka/pharos, component/tabs
