Repository ithaka/pharos, pull requests merged in 2022-05, with the labels that each got.

#338 fix: use yarn in size limit action
  .changeset/new-cameras-prove.md
  .github/workflows/size-limit.yml
  package.json
  packages/pharos/package.json
Labels: infrastructure, note/bug fix

#336 fix: update path relativity so all paths resolve correctly
  .changeset/bright-teachers-doubt.md
  packages/pharos-site/src/components/footer.tsx
  packages/pharos-site/src/pages/index.tsx
  packages/pharos/src/components/header/pharos-header.test.ts
  packages/pharos/src/pages/shared/react/Header.tsx
  packages/pharos/src/pages/shared/wc/header.ts
Labels: note/bug fix, ithaka/pharos, ithaka/pharos-site

#339 feat(icons): Add new icons shift-up and shift-down
  .changeset/tender-bulldogs-fold.md
  packages/pharos/assets/icons/shift-down.svg
  packages/pharos/assets/icons/shift-left.svg
  packages/pharos/assets/icons/shift-right.svg
  packages/pharos/assets/icons/shift-up.svg
  packages/pharos/tokens/assets/icons.json
Labels: status/code review, component/icon

#342 fix(icon): remove fill in svg
  .changeset/strong-pigs-taste.md
  packages/pharos/assets/icons/shift-down.svg
  packages/pharos/assets/icons/shift-up.svg
Labels: status/code review, component/icon
