Repository ithaka/pharos, pull requests merged in 2022-09, with the labels that each got.

#407 Toast: Make updateable
  .changeset/bright-socks-fold.md
  packages/pharos/src/components/toast/pharos-toast.test.ts
  packages/pharos/src/components/toast/pharos-toast.ts
  packages/pharos/src/components/toast/pharos-toast.wc.stories.mdx
  packages/pharos/src/components/toast/pharos-toaster.test.ts
  packages/pharos/src/components/toast/pharos-toaster.ts
Labels: status/ready to test, component/toast

#409 Link: Allow for visited links styling
  .changeset/nasty-rockets-confess.md
  .eslintrc.js
  packages/pharos/src/components/link/PharosLink.react.stories.mdx
  packages/pharos/src/components/link/pharos-link.scss
  packages/pharos/src/components/link/pharos-link.ts
  packages/pharos/src/components/link/pharos-link.wc.stories.mdx
  packages/pharos/src/utils/scss/_mixins.scss
Labels: status/code review, component/link

#414 Heading: Fix text color inheritance for linked headings
  .changeset/angry-guests-occur.md
  package.json
  packages/pharos/src/components/heading/pharos-heading.scss
  packages/pharos/src/components/link/PharosLink.react.stories.mdx
  packages/pharos/src/components/link/pharos-link.wc.stories.mdx
Labels: note/bug fix, component/heading

#416 Link & Image Card: Fix visited link hover state underline color for link + adding visited link support for title link in image card
  .changeset/blue-toys-relate.md
  packages/pharos/src/components/image-card/PharosImageCard.react.stories.mdx
  packages/pharos/src/components/image-card/pharos-image-card.test.ts
  packages/pharos/src/components/image-card/pharos-image-card.ts
  packages/pharos/src/components/image-card/pharos-image-card.wc.stories.mdx
  packages/pharos/src/components/link/pharos-link.scss
Labels: note/bug fix, component/link

#408 ImageCard: add selectable treatment to subtle cards
  .changeset/yellow-walls-yell.md
  .storybook/assets/images/item-detail/tall_image.png
  packages/pharos/src/components/image-card/pharos-image-card.scss
  packages/pharos/src/components/image-card/pharos-image-card.test.ts
  packages/pharos/src/components/image-card/pharos-image-card.ts
  packages/pharos/src/components/image-card/pharos-image-card.wc.stories.mdx
Labels: status/ready to test, component/image-card
