Repository ithaka/pharos, pull requests merged in 2023-06, with the labels that each got.

#539 Icons: Add reorder icon
  .changeset/silly-ways-roll.md
  packages/pharos/assets/icons/reorder.svg
  packages/pharos/tokens/assets/icons.json
Labels: status/code review

#541 chore(actions): update Atlassian changesets version
  .github/workflows/release.yml
Labels: infrastructure, status/code review

#543 Upgrade to Storybook 7 + Vite builder
  .storybook/GuidelineLink.tsx
  .storybook/docsPageConfig.jsx
  .storybook/main.js
  .storybook/main.ts
  .storybook/main/main.js
  .storybook/main/main.ts
  .storybook/manager.js
  .storybook/parameters.js
  .storybook/preview.ts
  .storybook/react/main.js
  .storybook/react/main.ts
  .storybook/react/manager.js
  .storybook/react/preview-head.html
  .storybook/react/preview.js
  .storybook/react/webpack.config.js
  .storybook/theme.js
  .storybook/wc/main.js
  .storybook/wc/main.ts
  .storybook/wc/manager.js
  .storybook/wc/preview-head.html
  .storybook/wc/preview.js
  .storybook/wc/webpack.config.js
  .storybook/webpack.config.js
  package.json
  packages/pharos/docs/1.intro.docs.stories.mdx
  packages/pharos/docs/2.changelog.docs.stories.mdx
  packages/pharos/src/components/header/PharosHeader.react.stories.jsx
  packages/pharos/src/components/header/pharos-header.wc.stories.jsx
  packages/pharos/src/components/image-card/PharosImageCard.react.stories.jsx
  packages/pharos/src/components/image-card/pharos-image-card.wc.stories.jsx
  packages/pharos/src/components/layout/PharosLayout.react.stories.jsx
  packages/pharos/src/components/layout/pharos-layout.wc.stories.jsx
  packages/pharos/src/components/sidenav/PharosSidenav.react.stories.jsx
  packages/pharos/src/components/sidenav/pharos-sidenav.wc.stories.jsx
  packages/pharos/src/pages/home/mocks.ts
  packages/pharos/src/pages/home/react/CollectionCard.tsx
  packages/pharos/src/pages/home/react/home.pages.stories.tsx
  packages/pharos/src/pages/home/wc/collection-card.ts
  packages/pharos/src/pages/home/wc/home.pages.stories.ts
  packages/pharos/src/pages/item-detail/mocks.ts
  packages/pharos/src/pages/item-detail/react/Metadata.tsx
  packages/pharos/src/pages/item-detail/react/collection-carousel/CollectionCarouselItem.tsx
  packages/pharos/src/pages/item-detail/react/item-carousel/ItemCarouselItem.tsx
  packages/pharos/src/pages/item-detail/wc/collection-carousel/collection-carousel-item.ts
  packages/pharos/src/pages/item-detail/wc/item-carousel/item-carousel-item.ts
  packages/pharos/src/pages/item-detail/wc/metadata.ts
  packages/pharos/src/pages/reports/react/Sidenav.tsx
  packages/pharos/src/pages/reports/react/reports.pages.stories.tsx
  packages/pharos/src/pages/reports/wc/reports.pages.stories.ts
  packages/pharos/src/pages/reports/wc/sidenav.ts
  packages/pharos/src/pages/search/mocks.ts
  packages/pharos/src/pages/search/react/image-results/ImageResultsItem.tsx
  packages/pharos/src/pages/search/wc/image-results/image-results-item.ts
  packages/pharos/src/pages/shared/react/Header.tsx
  packages/pharos/src/pages/shared/react/HeaderRevised.tsx
  packages/pharos/src/pages/shared/wc/header-revised.ts
  packages/pharos/src/pages/shared/wc/header.ts
  packages/pharos/src/pages/types.d.ts
  yarn.lock
Labels: storybook

#546 Storybook: Fix broken composition
  .storybook/main/main.ts
  .storybook/main/preview.ts
  .storybook/react/main.ts
  .storybook/react/preview.ts
  .storybook/wc/main.ts
  .storybook/wc/preview.ts
  package.json
  packages/pharos/src/components/image-card/PharosImageCard.react.stories.jsx
  packages/pharos/src/pages/home/react/home.pages.stories.tsx
  packages/pharos/src/pages/item-detail/react/item-detail.pages.stories.tsx
  packages/pharos/src/pages/reports/react/reports.pages.stories.tsx
  packages/pharos/src/pages/search/react/search.pages.stories.tsx
  yarn.lock
Labels: note/bug fix, status/code review, storybook
