Repository ithaka/pharos, pull requests merged in 2023-02, with the labels that each got.

#486 ImageCard: allow tab into subtle image card checkbox
  .changeset/silent-candles-smash.md
  packages/pharos/src/components/image-card/pharos-image-card.scss
  packages/pharos/src/components/image-card/pharos-image-card.ts
Labels: note/bug fix, status/code review, component/image-card

#488 ImageCard: prevent tab lock in subtle select image card with overlay
  .changeset/tame-ravens-kick.md
  packages/pharos/src/components/image-card/pharos-image-card.ts
  packages/pharos/src/components/image-card/pharos-image-card.wc.stories.jsx
Labels: note/bug fix, status/code review, component/image-card

#494 Backfill architecture decision records
  .adr-dir
  docs/architecture/decisions/0001-record-architecture-decisions.md
  docs/architecture/decisions/0002-capture-design-decisions-in-a-token-hierarchy.md
  docs/architecture/decisions/0003-build-components-using-web-component-technology.md
  docs/architecture/decisions/0004-provide-a-react-wrapper-for-web-components.md
  docs/architecture/decisions/0005-use-visual-testing-in-addition-to-functional-testing.md
  docs/architecture/decisions/0006-use-css-custom-properties-for-component-styles.md
  docs/architecture/decisions/0007-use-scoped-elements-for-decoupled-teams.md
  docs/architecture/decisions/0008-evolve-tokens-in-backward-compatible-manner.md
  docs/architecture/decisions/README.md
  docs/architecture/decisions/index.md
Labels: documentation, status/code review, design tokens

#496 Footer: update DOM selectors for Google Translate widget
  .changeset/metal-tomatoes-heal.md
  packages/pharos/src/components/footer/pharos-footer.styles.scss
Labels: note/bug fix, status/code review, component/footer

#493 Docs: Update flex attribute docs for links
  .changeset/plenty-dots-remember.md
  packages/pharos/src/components/link/pharos-link.ts
Labels: documentation, status/code review

#497 Icon: Add audio icons
  .changeset/angry-spoons-rest.md
  packages/pharos/assets/icons/audio.svg
  packages/pharos/assets/icons/pause-large.svg
  packages/pharos/assets/icons/pause.svg
  packages/pharos/assets/icons/play-large.svg
  packages/pharos/assets/icons/play.svg
  packages/pharos/assets/icons/seek-backward.svg
  packages/pharos/assets/icons/seek-forward.svg
  packages/pharos/assets/icons/sound-high.svg
  packages/pharos/assets/icons/sound-low.svg
  packages/pharos/assets/icons/sound-none.svg
  packages/pharos/tokens/assets/icons.json
Labels: component/icon
