Repository ithaka/pharos, pull requests merged in 2023-07, with the labels that each got.

#551 fix(pharos-site-component-links): update link
  .changeset/grumpy-zoos-worry.md
  packages/pharos-site/src/components/statics/PageSection.tsx
Labels: note/bug fix, ithaka/pharos-site

#553 Alert: use icon-condensed for close button
  .changeset/cold-comics-love.md
  packages/pharos/src/components/alert/pharos-alert.ts
Labels: component/alert

#555 Infra: specify sass as peer dependency for @ithaka/pharos
  .changeset/many-papayas-remember.md
  packages/pharos/package.json
Labels: infrastructure, status/code review

#556 chore: update dependencies
  .storybook/theme.js
  docs/development/anatomy-of-a-component.md
  package.json
  packages/pharos-cli/src/templates/react-mdx-file-template.js
  packages/pharos-cli/src/templates/wc-mdx-file-template.js
  packages/pharos-site/package.json
  packages/pharos/README.md
  packages/pharos/docs/1.intro.docs.stories.mdx
  packages/pharos/docs/2.changelog.docs.stories.mdx
  packages/pharos/scripts/build-styles.js
  yarn.lock
Labels: status/code review, dependencies

#558 Use :focus-visible for most interactive elements
  .changeset/stupid-files-jump.md
  .storybook/theme.js
  packages/pharos/src/components/dropdown-menu/pharos-dropdown-menu-item.scss
  packages/pharos/src/components/tabs/pharos-tab-panel.scss
  packages/pharos/src/components/tabs/pharos-tab.scss
  packages/pharos/src/utils/scss/_mixins.scss
Labels: status/code review, accessibility, status/needs documentation

#559 Decision: Create explicit, minimally exhaustive accessibility properties for components
  docs/architecture/decisions/0009-create-explicit-minimally-exhaustive-accessibility-properties-for-components.md
Labels: documentation, accessibility

#561 Icons: Add closed captions icons
  .changeset/brave-schools-thank.md
  packages/pharos/assets/icons/closed-captions-off.svg
  packages/pharos/assets/icons/closed-captions-on.svg
  packages/pharos/tokens/assets/icons.json
Labels: component/icon

#564 Image card: update image card error variant text
  .changeset/rare-foxes-applaud.md
  packages/pharos/src/components/image-card/pharos-image-card.test.ts
  packages/pharos/src/components/image-card/pharos-image-card.ts
Labels: component/image-card

#566 Icons: add thumbs up down icons
  .changeset/short-tips-exist.md
  packages/pharos/assets/icons/thumbs-down-filled.svg
  packages/pharos/assets/icons/thumbs-down.svg
  packages/pharos/assets/icons/thumbs-up-filled.svg
  packages/pharos/assets/icons/thumbs-up.svg
  packages/pharos/tokens/assets/icons.json
Labels: status/ready to test, component/icon

#568 Icon: add microsoft icon
  .changeset/unlucky-taxis-press.md
  .svglintrc.js
  packages/pharos/assets/icons/microsoft-color.svg
  packages/pharos/tokens/assets/icons.json
Labels: component/icon
