Repository ithaka/pharos, pull requests merged in 2023-08, with the labels that each got.

#573 Storybook: bump dependency versions
  package.json
  yarn.lock
Labels: storybook

#572 Toast: Prevent error being thrown if opened without returnElements setting
  .all-contributorsrc
  .changeset/sweet-eyes-invent.md
  README.md
  packages/pharos/src/components/toast/pharos-toaster.test.ts
  packages/pharos/src/components/toast/pharos-toaster.ts
Labels: status/code review, bug, component/toast

#575 CLI: update to match latest Storybook needs
  .changeset/lazy-dryers-teach.md
  packages/pharos-cli/README.md
  packages/pharos-cli/src/cmds/pharos-component.ts
  packages/pharos-cli/src/templates/react-jsx-file-template.js
  packages/pharos-cli/src/templates/react-mdx-file-template.js
  packages/pharos-cli/src/templates/wc-jsx-file-template.js
  packages/pharos-cli/src/templates/wc-mdx-file-template.js
Labels: documentation, infrastructure, storybook

#577 Icon: Update stories to correctly pass description to components
  .changeset/rotten-worms-tell.md
  packages/pharos/src/components/icon/PharosIcon.react.stories.jsx
  packages/pharos/src/components/icon/pharos-icon.wc.stories.jsx
Labels: note/bug fix, status/code review, component/icon

#576 Menu: add onBackground variant
  .changeset/unlucky-vans-lie.md
  packages/pharos/src/components/dropdown-menu/PharosDropdownMenu.react.stories.jsx
  packages/pharos/src/components/dropdown-menu/pharos-dropdown-menu-item.scss
  packages/pharos/src/components/dropdown-menu/pharos-dropdown-menu-item.ts
  packages/pharos/src/components/dropdown-menu/pharos-dropdown-menu.scss
  packages/pharos/src/components/dropdown-menu/pharos-dropdown-menu.ts
  packages/pharos/src/components/dropdown-menu/pharos-dropdown-menu.wc.stories.jsx
  packages/pharos/src/components/dropdown-menu/storyArgs.ts
  packages/pharos/tokens/color/base.json
Labels: status/code review, component/dropdown-menu

#582 Storybook: remove TypeScript watch from commands
  package.json
Labels: note/bug fix, storybook

#586 Footer: Remove google translate
  .changeset/thick-planes-wink.md
  packages/pharos-site/static/guidelines/footer.docs.mdx
  packages/pharos/src/components/footer/pharos-footer.styles.scss
  packages/pharos/src/components/footer/pharos-footer.test.ts
  packages/pharos/src/components/footer/pharos-footer.ts
  packages/pharos/src/pages/search/initTranslateWidget.ts
  packages/pharos/src/pages/shared/react/Footer.tsx
  packages/pharos/src/pages/shared/wc/footer.ts
Labels: status/code review, component/footer, BREAKING

#587 chore: update Floating UI dependency
  .changeset/light-news-compete.md
  packages/pharos/package.json
  yarn.lock
Labels: status/code review, dependencies

#583 Dropdown Menu: add fallback color for on background variant
  .changeset/quick-cherries-grab.md
  packages/pharos/src/components/dropdown-menu/pharos-dropdown-menu-item.scss
Labels: component/dropdown-menu

#592 feat: add send icon
  .changeset/old-coats-sit.md
  packages/pharos/assets/icons/send.svg
  packages/pharos/tokens/assets/icons.json
Labels: status/code review, component/icon

#600 chore(sidenav): fix flaky test
  packages/pharos/src/components/sidenav/pharos-sidenav.test.ts
Labels: note/bug fix, component/sidenav

#596 Icon: Add compare and side-panel icons
  .changeset/mighty-teachers-report.md
  packages/pharos/assets/icons/compare.svg
  packages/pharos/assets/icons/side-panel.svg
  packages/pharos/tokens/assets/icons.json
Labels: status/code review, component/icon
