Repository ithaka/pharos, pull requests merged in 2023-05, with the labels that each got.

#517 Use minified html template literals
  .changeset/fluffy-otters-sit.md
  packages/pharos/package.json
  packages/pharos/scripts/build-minified-html.js
  packages/pharos/src/components/base/form-element.ts
  yarn.lock
Labels: infrastructure, status/code review

#521 fix(site): add missing href to example Link
  .changeset/warm-cobras-knock.md
  packages/pharos-site/static/guidelines/link.docs.mdx
Labels: note/bug fix, status/code review, ithaka/pharos-site

#516 fix(image-card): display preview not available error for collection variant
  .changeset/tasty-tomatoes-pretend.md
  packages/pharos/src/components/image-card/pharos-image-card.scss
  packages/pharos/src/components/image-card/pharos-image-card.test.ts
  packages/pharos/src/components/image-card/pharos-image-card.ts
  packages/pharos/src/components/image-card/pharos-image-card.wc.stories.jsx
Labels: status/code review, bug, component/image-card

#524 Button: Only render aria-pressed when explicitly defined
  .changeset/grumpy-emus-impress.md
  packages/pharos/scripts/build-react.js
  packages/pharos/src/components/button/pharos-button.ts
  packages/pharos/src/components/button/storyArgs.ts
Labels: note/bug fix, accessibility, component/button

#525 Tabs: Make selected tab outline fully visible
  .changeset/small-ways-live.md
  packages/pharos/src/components/tabs/pharos-tabs.scss
Labels: note/bug fix, component/tabs

#526 Storybook: use story store v7
  .storybook/main.js
Labels: status/code review, storybook

#528 Storybook: use babel 7
  .storybook/main.js
Labels: status/code review, storybook

#529 chore(infra): upgrade to Node.js 18
  .github/workflows/chromatic.yml
  .github/workflows/release.yml
  .github/workflows/size-limit.yml
  .github/workflows/verify.yml
  .tool-versions
  docs/development/quick-start.md
  packages/pharos/package.json
  packages/pharos/web-test-runner.config.mjs
  yarn.lock
Labels: infrastructure, status/code review

#534 Storybook: Update links broken by scoping
  .storybook/GuidelineLink.tsx
  packages/pharos/src/components/alert/PharosAlert.react.stories.jsx
  packages/pharos/src/components/toast/PharosToast.react.stories.jsx
Labels: note/bug fix, storybook

#533 Icons: Add paging and scrolling icons
  .all-contributorsrc
  .changeset/dull-cycles-film.md
  README.md
  packages/pharos/assets/icons/mode-paging.svg
  packages/pharos/assets/icons/mode-scrolling.svg
  packages/pharos/tokens/assets/icons.json
Labels: component/icon

#536 Icon: Update paging icon
  .changeset/grumpy-rocks-move.md
  packages/pharos/assets/icons/mode-paging.svg
Labels: status/code review, component/icon
