Repository ithaka/pharos, pull requests merged in 2023-11, with the labels that each got.

#644 Upgrade to TypeScript 5
  .changeset/fast-dodos-swim.md
  package.json
  packages/pharos-cli/package.json
  packages/pharos-site/package.json
  packages/pharos/package.json
  packages/pharos/src/components/alert/pharos-alert.ts
  packages/pharos/src/components/toast/pharos-toast.ts
  packages/pharos/tsconfig.json
  yarn.lock
Labels: infrastructure, status/code review

#645 Update sidenav-links marked as external to open in a new tab
  .changeset/large-tomatoes-pull.md
  packages/pharos/src/components/sidenav/PharosSidenav.react.stories.jsx
  packages/pharos/src/components/sidenav/pharos-sidenav-link.test.ts
  packages/pharos/src/components/sidenav/pharos-sidenav-link.ts
  packages/pharos/src/components/sidenav/pharos-sidenav.wc.stories.jsx
Labels: note/bug fix, status/code review, component/sidenav

#578 Global: update onBackground to isOnBackground
  .changeset/light-paws-listen.md
  packages/pharos/src/components/base/form-element.scss
  packages/pharos/src/components/button/PharosButton.react.stories.jsx
  packages/pharos/src/components/button/pharos-button.scss
  packages/pharos/src/components/button/pharos-button.test.ts
  packages/pharos/src/components/button/pharos-button.ts
  packages/pharos/src/components/button/pharos-button.wc.stories.jsx
  packages/pharos/src/components/button/storyArgs.ts
  packages/pharos/src/components/checkbox/PharosCheckbox.react.stories.jsx
  packages/pharos/src/components/checkbox/pharos-checkbox.scss
  packages/pharos/src/components/checkbox/pharos-checkbox.ts
  packages/pharos/src/components/checkbox/pharos-checkbox.wc.stories.jsx
  packages/pharos/src/components/checkbox/storyArgs.ts
  packages/pharos/src/components/dropdown-menu/PharosDropdownMenu.react.stories.jsx
  packages/pharos/src/components/dropdown-menu/pharos-dropdown-menu-item.scss
  packages/pharos/src/components/dropdown-menu/pharos-dropdown-menu-item.ts
  packages/pharos/src/components/dropdown-menu/pharos-dropdown-menu.scss
  packages/pharos/src/components/dropdown-menu/pharos-dropdown-menu.ts
  packages/pharos/src/components/dropdown-menu/pharos-dropdown-menu.wc.stories.jsx
  packages/pharos/src/components/dropdown-menu/storyArgs.ts
  packages/pharos/src/components/footer/pharos-footer.test.ts
  packages/pharos/src/components/image-card/PharosImageCard.react.stories.jsx
  packages/pharos/src/components/image-card/pharos-image-card.wc.stories.jsx
  packages/pharos/src/components/link/PharosLink.react.stories.jsx
  packages/pharos/src/components/link/pharos-link.scss
  packages/pharos/src/components/link/pharos-link.test.ts
  packages/pharos/src/components/link/pharos-link.ts
  packages/pharos/src/components/link/pharos-link.wc.stories.jsx
  packages/pharos/src/components/link/storyArgs.ts
  packages/pharos/src/components/popover/pharos-popover.ts
  packages/pharos/src/components/popover/pharos-popover.wc.stories.jsx
  packages/pharos/src/components/sidenav/PharosSidenav.react.stories.jsx
  packages/pharos/src/components/sidenav/pharos-sidenav.test.ts
  packages/pharos/src/components/sidenav/pharos-sidenav.ts
  packages/pharos/src/components/sidenav/pharos-sidenav.wc.stories.jsx
  packages/pharos/src/components/text-input/pharos-text-input.scss
  packages/pharos/src/components/text-input/pharos-text-input.ts
  packages/pharos/src/components/toast/PharosToast.react.stories.jsx
  packages/pharos/src/components/toast/pharos-toast-button.scss
  packages/pharos/src/components/toast/pharos-toast-button.ts
  packages/pharos/src/components/toast/pharos-toast.test.ts
  packages/pharos/src/components/toast/pharos-toast.wc.stories.jsx
  packages/pharos/src/components/toggle-button-group/pharos-toggle-button.scss
  packages/pharos/src/pages/reports/react/ReportsTable.tsx
  packages/pharos/src/pages/reports/wc/reports-table.ts
  packages/pharos/src/pages/shared/react/Footer.tsx
  packages/pharos/src/pages/shared/wc/footer.ts
Labels: note/bug fix, status/code review, BREAKING

#643 Add elevation tokens and documentation
  .changeset/silent-pants-appear.md
  packages/pharos-site/src/components/Sidenav.tsx
  packages/pharos-site/src/pages/brand-expressions/elevation.mdx
  packages/pharos-site/src/pages/design-tokens/elevation.mdx
  packages/pharos-site/static/images/brand-expressions/elevation/dont_change_source.jpg
  packages/pharos-site/static/images/brand-expressions/elevation/dont_visually_please.jpg
  packages/pharos-site/static/images/brand-expressions/elevation/dos_content_behind.png
  packages/pharos-site/static/images/brand-expressions/elevation/dos_content_behindold.png
  packages/pharos-site/static/images/brand-expressions/elevation/effect_stacking.jpg
  packages/pharos-site/static/images/brand-expressions/elevation/elevation_stack_guide.jpg
  packages/pharos-site/static/images/brand-expressions/elevation/negative_directional_movement.png
  packages/pharos-site/static/images/brand-expressions/elevation/positive_directional_movement.png
  packages/pharos-site/static/images/brand-expressions/elevation/top_drop_shadow.jpg
  packages/pharos-site/static/images/brand-expressions/elevation/up_and_down.jpg
  packages/pharos-site/static/images/brand-expressions/elevation/with_iconography.jpg
  packages/pharos/src/styles/tokens.react.stories.jsx
  packages/pharos/src/styles/tokens.wc.stories.jsx
  packages/pharos/tokens/elevation.json
Labels: documentation, design tokens

#478 Sidenav: remove sidenav button
  .changeset/gorgeous-months-vanish.md
  .storybook/initComponents.js
  packages/pharos-site/initComponents.tsx
  packages/pharos-site/src/components/layout.tsx
  packages/pharos/src/components/sidenav/PharosSidenav.react.stories.jsx
  packages/pharos/src/components/sidenav/pharos-sidenav-button.scss
  packages/pharos/src/components/sidenav/pharos-sidenav-button.test.ts
  packages/pharos/src/components/sidenav/pharos-sidenav-button.ts
  packages/pharos/src/components/sidenav/pharos-sidenav.scss
  packages/pharos/src/components/sidenav/pharos-sidenav.test.ts
  packages/pharos/src/components/sidenav/pharos-sidenav.ts
  packages/pharos/src/components/sidenav/pharos-sidenav.wc.stories.jsx
  packages/pharos/src/index.ts
  packages/pharos/src/pages/reports/react/reports.pages.stories.tsx
  packages/pharos/src/test/initComponents.ts
  packages/pharos/src/utils/focusable.ts
Labels: status/code review, component/sidenav, BREAKING

#652 Radio, Checkbox: Fix group label
  .changeset/twenty-buckets-sneeze.md
  packages/pharos/src/components/checkbox-group/pharos-checkbox-group.test.ts
  packages/pharos/src/components/checkbox-group/pharos-checkbox-group.ts
  packages/pharos/src/components/radio-group/pharos-radio-group.test.ts
  packages/pharos/src/components/radio-group/pharos-radio-group.ts
Labels: note/bug fix, status/code review, component/checkbox, component/radio-button
