Repository ithaka/pharos, pull requests merged in 2023-10, with the labels that each got.

#620 Sheet: Add more close options and transition timing function
  .changeset/cuddly-stingrays-visit.md
  .changeset/thick-bugs-sing.md
  packages/pharos/src/components/sheet/pharos-sheet.scss
  packages/pharos/src/components/sheet/pharos-sheet.ts
Labels: status/code review, component/sheet

#618 fix(button): remove fill on subtle disabled button on background
  .changeset/great-maps-tell.md
  packages/pharos/src/components/button/pharos-button.scss
Labels: note/bug fix, bug, component/button

#625 Sheet: allow expansion with attribute
  .changeset/sixty-fishes-cheat.md
  packages/pharos/src/components/sheet/PharosSheet.react.stories.jsx
  packages/pharos/src/components/sheet/pharos-sheet.scss
  packages/pharos/src/components/sheet/pharos-sheet.ts
  packages/pharos/src/components/sheet/pharos-sheet.wc.stories.jsx
Labels: status/code review, component/sheet

#627 Loading spinner: add small and on background variant
  .changeset/dull-days-approve.md
  packages/pharos/src/components/loading-spinner/pharos-loading-spinner.scss
  packages/pharos/src/components/loading-spinner/pharos-loading-spinner.test.ts
  packages/pharos/src/components/loading-spinner/pharos-loading-spinner.ts
  packages/pharos/src/components/loading-spinner/pharos-loading-spinner.wc.stories.jsx
  packages/pharos/tokens/components/loading-spinner.json
Labels: status/code review, component/loading-spinner

#631 Icon: Add Panorama icon
  .changeset/proud-cars-agree.md
  packages/pharos/assets/icons/panorama.svg
  packages/pharos/tokens/assets/icons.json
Labels: component/icon

#639 Coach Mark: Documentation fixes
  .all-contributorsrc
  .changeset/famous-gorillas-poke.md
  README.md
  packages/pharos-site/src/components/Sidenav.tsx
  packages/pharos-site/src/pages/components/component-status/status.json
  packages/pharos-site/static/guidelines/coach-mark.docs.mdx
Labels: documentation, bug, ithaka/pharos-site, component/coach-mark
