Repository ithaka/pharos, pull requests merged in 2023-01, with the labels that each got.

#466 Toast: make toast IDs unique
  .changeset/itchy-actors-worry.md
  package.json
  packages/pharos/package.json
  packages/pharos/src/components/toast/pharos-toast.test.ts
  packages/pharos/src/components/toast/pharos-toast.ts
  packages/pharos/src/components/toast/pharos-toaster.test.ts
  packages/pharos/src/components/toast/pharos-toaster.ts
  yarn.lock
Labels: status/code review, component/toast

#470 Combobox: add loose-match option for matching query
  .changeset/empty-queens-listen.md
  packages/pharos/src/components/combobox/pharos-combobox.test.ts
  packages/pharos/src/components/combobox/pharos-combobox.ts
  packages/pharos/src/components/combobox/pharos-combobox.wc.stories.jsx
  packages/pharos/src/components/combobox/storyArgs.ts
Labels: status/code review, component/combobox

#472 Infra: Bump TypeScript, add main exports
  .changeset/sweet-singers-arrive.md
  .storybook/theme.js
  packages/pharos-site/initComponents.tsx
  packages/pharos-site/package.json
  packages/pharos-site/src/components/statics/color/ColorCombos.tsx
  packages/pharos-site/src/components/statics/color/ColorGradients.tsx
  packages/pharos-site/src/components/statics/color/ColorSwatches.tsx
  packages/pharos-site/src/components/statics/color/ColorTextSquares.tsx
  packages/pharos/package.json
  yarn.lock
Labels: infrastructure, ithaka/pharos, BREAKING

#468 Tabs: move selected state management to pharos-tabs
  .changeset/perfect-cycles-drum.md
  packages/pharos/src/components/tabs/pharos-tab.ts
  packages/pharos/src/components/tabs/pharos-tabs.test.ts
  packages/pharos/src/components/tabs/pharos-tabs.ts
  packages/pharos/src/components/tabs/pharos-tabs.wc.stories.jsx
Labels: status/code review, component/tabs, BREAKING

#475 Toast: Update Toaster to use internally consistent scoping
  .changeset/cold-jeans-fail.md
  packages/pharos/src/components/toast/PharosToast.react.stories.jsx
  packages/pharos/src/components/toast/pharos-toast.test.ts
  packages/pharos/src/components/toast/pharos-toast.ts
  packages/pharos/src/components/toast/pharos-toast.wc.stories.jsx
  packages/pharos/src/components/toast/pharos-toaster.scss
  packages/pharos/src/components/toast/pharos-toaster.test.ts
  packages/pharos/src/components/toast/pharos-toaster.ts
Labels: note/bug fix, component/toast, BREAKING

#481 Site: fix site build
  packages/pharos-site/initComponents.tsx
  packages/pharos-site/package.json
  packages/pharos-site/src/components/statics/color/ColorCombos.tsx
  packages/pharos-site/src/components/statics/color/ColorGradients.tsx
  packages/pharos-site/src/components/statics/color/ColorSwatches.tsx
  packages/pharos-site/src/components/statics/color/ColorTextSquares.tsx
Labels: ithaka/pharos-site

#483 ImageCard: fix visited link indication
  .changeset/nervous-wombats-pull.md
  package.json
  packages/pharos/src/components/image-card/PharosImageCard.react.stories.jsx
  packages/pharos/src/components/image-card/pharos-image-card.test.ts
  packages/pharos/src/components/image-card/pharos-image-card.ts
  packages/pharos/src/components/image-card/pharos-image-card.wc.stories.jsx
  packages/pharos/src/components/image-card/storyArgs.ts
  yarn.lock
Labels: note/bug fix, component/image-card
