Repository ithaka/pharos, pull requests merged in 2024-03, with the labels that each got.

#696 Update Storybook stories with new sidenav display logic
  .changeset/kind-cows-mix.md
  .yarn/install-state.gz
  packages/pharos/src/components/layout/PharosLayout.react.stories.jsx
  packages/pharos/src/components/layout/pharos-layout.wc.stories.jsx
  packages/pharos/src/components/sidenav/PharosSidenav.react.stories.jsx
  packages/pharos/src/components/sidenav/pharos-sidenav.wc.stories.jsx
  packages/pharos/src/pages/reports/react/ReportExample.tsx
  packages/pharos/src/pages/reports/react/Sidenav.tsx
  packages/pharos/src/pages/reports/react/reports.pages.stories.tsx
  packages/pharos/src/pages/reports/wc/reports-example.ts
  packages/pharos/src/pages/reports/wc/reports.pages.stories.ts
  packages/pharos/src/pages/reports/wc/sidenav.ts
Labels: status/code review, storybook, component/sidenav

#699 Require an accessible label be present for icon-only buttons
  .changeset/tough-buckets-press.md
  packages/pharos/src/components/button/pharos-button.test.ts
  packages/pharos/src/components/button/pharos-button.ts
  packages/pharos/src/components/input-group/pharos-input-group.test.ts
  packages/pharos/src/components/toggle-button-group/PharosToggleButtonGroup.react.stories.jsx
  packages/pharos/src/components/toggle-button-group/pharos-toggle-button-group.wc.stories.jsx
Labels: accessibility, component/button, BREAKING

#701 fix(infra): use Node 18 in .nvmrc
  .nvmrc
Labels: infrastructure, note/bug fix

#702 fix(storybook): update Babel configuration
  .eslintrc.js
  .storybook/babel.config.js
  .storybook/main.ts
  .storybook/main/babel.config.js
  .storybook/react/babel.config.js
  .storybook/wc/babel.config.js
  .tool-versions
  .yarn/install-state.gz
  README.md
  babel.config.js
  package.json
  packages/pharos/src/components/coach-mark/pharos-coach-mark.ts
  yarn.lock
Labels: infrastructure, note/bug fix, storybook

#703 fix(site): use Pharos v14 properties
  .changeset/beige-planes-hide.md
  .yarn/install-state.gz
  packages/pharos-site/babel.config.js
  packages/pharos-site/package.json
  packages/pharos-site/src/components/Sidenav.tsx
  packages/pharos-site/src/components/footer.tsx
  packages/pharos-site/src/components/layout.tsx
  packages/pharos-site/src/pages/index.tsx
  packages/pharos-site/static/guidelines/checkbox.docs.mdx
  packages/pharos-site/static/guidelines/footer.docs.mdx
  packages/pharos-site/static/guidelines/image-card.docs.mdx
  packages/pharos-site/static/guidelines/link.docs.mdx
  yarn.lock
Labels: note/bug fix, ithaka/pharos-site

#704 chore(deps): update GitHub Actions and Node versions
  .github/workflows/chromatic.yml
  .github/workflows/release.yml
  .github/workflows/size-limit.yml
  .github/workflows/verify.yml
  .nvmrc
  .tool-versions
  .yarn/install-state.gz
  docs/development/quick-start.md
  packages/pharos-cli/package.json
  packages/pharos/package.json
  packages/pharos/src/utils/registerComponents.ts
  yarn.lock
Labels: infrastructure, dependencies

#714 fix(infra): ensure JSDOM patch is exported
  .changeset/fluffy-numbers-talk.md
  .yarn/install-state.gz
  package.json
  packages/pharos/package.json
  yarn.lock
Labels: infrastructure, note/bug fix

#716 Update dependencies to latest compatible versions
  .storybook/docsPageConfig.jsx
  .storybook/main.ts
  .storybook/main/main.ts
  .storybook/react/main.ts
  .storybook/wc/main.ts
  .yarn/install-state.gz
  package.json
  packages/pharos-cli/package.json
  packages/pharos-cli/tsconfig.json
  packages/pharos-site/gatsby-config.js
  packages/pharos-site/package.json
  packages/pharos-site/src/components/CodeBlock.tsx
  packages/pharos-site/src/components/statics/color/ColorSwatches.module.css
  packages/pharos-site/src/components/statics/color/ColorTextSquares.module.css
  packages/pharos-site/src/components/statics/iconography/IconsDisplay.module.css
  packages/pharos-site/tsconfig.json
  packages/pharos/docs/1.intro.docs.mdx
  packages/pharos/docs/2.changelog.docs.mdx
  packages/pharos/package.json
  packages/pharos/src/components/combobox/pharos-combobox.scss
  packages/pharos/src/components/dropdown-menu/pharos-dropdown-menu.wc.stories.jsx
  packages/pharos/src/components/header/pharos-header.scss
  packages/pharos/src/components/sidenav/PharosSidenav.react.stories.jsx
  packages/pharos/src/components/toast/pharos-toast.wc.stories.jsx
  packages/pharos/src/components/tooltip/PharosTooltip.react.stories.jsx
  packages/pharos/src/components/tooltip/pharos-tooltip.wc.stories.jsx
  packages/pharos/tsconfig.json
  packages/pharos/web-test-runner.config.mjs
  yarn.lock
Labels: status/code review, dependencies

#695 Table: Create table components
  .changeset/orange-fireants-impress.md
  .storybook/initComponents.js
  packages/pharos-site/initComponents.tsx
  packages/pharos/src/components/table/PharosTable.react.stories.jsx
  packages/pharos/src/components/table/pharos-table.scss
  packages/pharos/src/components/table/pharos-table.test.ts
  packages/pharos/src/components/table/pharos-table.ts
  packages/pharos/src/components/table/pharos-table.wc.stories.jsx
  packages/pharos/src/components/table/storyArgs.ts
  packages/pharos/src/index.ts
  packages/pharos/src/test/initComponents.ts
Labels: status/code review

#720 Correct merge resolution to enable dismissal of pharos toast
  .changeset/happy-hounds-peel.md
  packages/pharos/src/components/toast/pharos-toaster.ts
Labels: note/bug fix, status/code review, component/toast

#723 chore(deps): update @custom-elements-manifest/analyzer
  .yarn/install-state.gz
  package.json
  packages/pharos/scripts/build-react.js
  yarn.lock
Labels: status/code review, dependencies

#727 chore(deps): update dependencies
  .yarn/install-state.gz
  package.json
  packages/pharos-cli/package.json
  packages/pharos-site/package.json
  packages/pharos/custom-elements-manifest.config.mjs
  packages/pharos/package.json
  packages/pharos/src/components/base/overlay-element.ts
  packages/pharos/src/components/checkbox/pharos-checkbox.test.ts
  packages/pharos/src/components/radio-button/pharos-radio-button.test.ts
  yarn.lock
Labels: dependencies

#729 Toaster: Add test for deleting an updateable toast
  .yarn/install-state.gz
  packages/pharos/src/components/toast/pharos-toaster.test.ts
Labels: status/code review, testing/integration tests, component/toast

#733 Coach Mark: Emit event when user hits the close button
  .changeset/dirty-cows-leave.md
  packages/pharos/src/components/coach-mark/pharos-coach-mark.test.ts
  packages/pharos/src/components/coach-mark/pharos-coach-mark.ts
Labels: status/code review, component/coach-mark

#735 chore(deps): update package dependencies
  .yarn/install-state.gz
  package.json
  packages/pharos-cli/package.json
  packages/pharos-site/package.json
  packages/pharos/package.json
  yarn.lock
Labels: status/code review, dependencies
