Repository ithaka/pharos, pull requests merged in 2024-02, with the labels that each got.

#680 Fix the all-contributors badge
  README.md
Labels: note/bug fix, status/code review

#679 Require icon accessibility attributes
  .changeset/thirty-carrots-suffer.md
  packages/pharos/src/components/alert/pharos-alert.test.ts
  packages/pharos/src/components/dropdown-menu-nav/pharos-dropdown-menu-nav-category.ts
  packages/pharos/src/components/icon/pharos-icon.test.ts
  packages/pharos/src/components/icon/pharos-icon.ts
  packages/pharos/src/components/text-input/pharos-text-input.test.ts
Labels: status/code review, accessibility, component/dropdown-menu-nav, component/icon, BREAKING

#683 Combobox: Add default elevation
  .changeset/flat-clocks-brush.md
  packages/pharos/src/components/combobox/pharos-combobox.scss
Labels: status/code review, design tokens, component/combobox

#681 Modal: Add default elevation
  .changeset/calm-weeks-own.md
  packages/pharos/src/components/modal/pharos-modal.scss
Labels: status/code review, component/modal

#684 Dropdown Menu: Add default elevation
  .changeset/quiet-garlics-compete.md
  packages/pharos/src/components/dropdown-menu/pharos-dropdown-menu.scss
Labels: status/code review, design tokens, component/dropdown-menu

#690 Tabs: Remove overflow-y from pharos-tabs' tab__panels class
  .changeset/weak-berries-hunt.md
  packages/pharos/src/components/tabs/pharos-tabs.scss
Labels: status/code review
