Repository ithaka/pharos, pull requests merged in 2024-11, with the labels that each got.

#832 chore(deps): bump dependencies
  .gitignore
  .yarn/install-state.gz
  package.json
  packages/pharos-cli/package.json
  packages/pharos-site/package.json
  packages/pharos/package.json
  yarn.lock
Labels: status/code review

#833 Textarea: Update min height styling
  .changeset/lovely-shirts-visit.md
  packages/pharos/tokens/components/textarea.json
Labels: note/bug fix, component/textarea

#827 fix(modal & tabs): remove overflow property that causes unnecessary scrollbars and update to Node 22
  .changeset/fresh-snakes-hope.md
  .github/workflows/chromatic.yml
  .github/workflows/release.yml
  .github/workflows/size-limit.yml
  .github/workflows/verify.yml
  .nvmrc
  .tool-versions
  .yarn/releases/yarn-4.2.2.cjs
  .yarn/releases/yarn-4.5.1.cjs
  .yarnrc.yml
  docs/development/quick-start.md
  package.json
  packages/pharos/scripts/build-react.js
  packages/pharos/src/components/modal/pharos-modal.scss
  packages/pharos/src/components/tabs/pharos-tabs.scss
  packages/pharos/style-dictionary.config.js
  yarn.lock
Labels: note/bug fix, component/modal, component/tabs
