Repository ithaka/pharos, pull requests merged in 2024-08, with the labels that each got.

#796 Icon: add upload, save, and pin icons
  .changeset/ten-turkeys-switch.md
  .svglintrc.js
  .yarn/install-state.gz
  packages/pharos/assets/icons/pin.svg
  packages/pharos/assets/icons/save-and-close.svg
  packages/pharos/assets/icons/save-changes.svg
  packages/pharos/assets/icons/upload.svg
  packages/pharos/tokens/assets/icons.json
  yarn.lock
Labels: component/icon

#797 chore(deps): bump deps
  .yarn/install-state.gz
  package.json
  packages/pharos-cli/package.json
  packages/pharos-site/package.json
  packages/pharos/package.json
  packages/pharos/src/components/checkbox/pharos-checkbox.scss
  yarn.lock
Labels: dependencies

#803 Bump dependencies
  .stylelintrc.js
  .yarn/install-state.gz
  package.json
  packages/pharos-cli/package.json
  packages/pharos-site/package.json
  packages/pharos/package.json
  yarn.lock
Labels: status/code review, dependencies

#801 Update the table caption warning to recommend correct attribute to visually hide the caption
  .changeset/nice-cows-shave.md
  packages/pharos/src/components/table/pharos-table.test.ts
  packages/pharos/src/components/table/pharos-table.ts
Labels: status/code review, component/table
