Repository ithaka/pharos, pull requests merged in 2024-01, with the labels that each got.

#616 Fix broken whitespace in Icon documentation
  packages/pharos-site/static/guidelines/icon.docs.mdx
Labels: documentation, note/bug fix, ithaka/pharos-site

#656 fix(chromatic): reintroduce build-storybook script
  package.json
Labels: infrastructure, note/bug fix, storybook

#594 a11y revamp: Pharos Buttons
  .changeset/mighty-planes-poke.md
  packages/pharos/src/components/alert/pharos-alert.ts
  packages/pharos/src/components/button/PharosButton.react.stories.jsx
  packages/pharos/src/components/button/pharos-button.test.ts
  packages/pharos/src/components/button/pharos-button.ts
  packages/pharos/src/components/button/pharos-button.wc.stories.jsx
  packages/pharos/src/components/combobox/pharos-combobox.ts
  packages/pharos/src/components/image-card/pharos-image-card.ts
  packages/pharos/src/components/input-group/PharosInputGroup.react.stories.jsx
  packages/pharos/src/components/input-group/pharos-input-group.test.ts
  packages/pharos/src/components/input-group/pharos-input-group.wc.stories.jsx
  packages/pharos/src/components/modal/pharos-modal.ts
  packages/pharos/src/components/sheet/pharos-sheet.test.ts
  packages/pharos/src/components/sheet/pharos-sheet.ts
  packages/pharos/src/components/sidenav/PharosSidenav.react.stories.jsx
  packages/pharos/src/components/sidenav/pharos-sidenav.test.ts
  packages/pharos/src/components/sidenav/pharos-sidenav.ts
  packages/pharos/src/components/sidenav/pharos-sidenav.wc.stories.jsx
  packages/pharos/src/components/toast/pharos-toast-button.ts
  packages/pharos/src/components/toggle-button-group/pharos-toggle-button-group.test.ts
  packages/pharos/src/components/toggle-button-group/pharos-toggle-button-group.ts
  packages/pharos/src/components/toggle-button-group/pharos-toggle-button.ts
  packages/pharos/src/pages/item-detail/react/collection-carousel/CollectionCarousel.tsx
  packages/pharos/src/pages/item-detail/react/item-carousel/ItemCarousel.tsx
  packages/pharos/src/pages/item-detail/react/item-detail.pages.stories.tsx
  packages/pharos/src/pages/item-detail/wc/collection-carousel/collection-carousel.ts
  packages/pharos/src/pages/item-detail/wc/item-carousel/item-carousel.ts
  packages/pharos/src/pages/item-detail/wc/item-detail.pages.stories.ts
  packages/pharos/src/pages/reports/react/CreateReportModal.tsx
  packages/pharos/src/pages/reports/wc/create-report-modal.ts
  packages/pharos/src/pages/shared/react/Header.tsx
  packages/pharos/src/pages/shared/react/HeaderRevised.tsx
  packages/pharos/src/pages/shared/wc/header-revised.ts
  packages/pharos/src/pages/shared/wc/header.ts
Labels: accessibility, component/button, BREAKING

#657 Loading Spinner, Sidenav, Docs: use is-on-background correctly
  .changeset/eight-dots-cry.md
  packages/pharos-site/static/guidelines/button.docs.mdx
  packages/pharos/src/components/checkbox/PharosCheckbox.react.stories.jsx
  packages/pharos/src/components/checkbox/pharos-checkbox.wc.stories.jsx
  packages/pharos/src/components/dropdown-menu/PharosDropdownMenu.react.stories.jsx
  packages/pharos/src/components/dropdown-menu/pharos-dropdown-menu.wc.stories.jsx
  packages/pharos/src/components/loading-spinner/pharos-loading-spinner.scss
  packages/pharos/src/components/loading-spinner/pharos-loading-spinner.ts
  packages/pharos/src/components/loading-spinner/pharos-loading-spinner.wc.stories.jsx
  packages/pharos/src/components/sidenav/pharos-sidenav.test.ts
  packages/pharos/src/components/sidenav/pharos-sidenav.wc.stories.jsx
  packages/pharos/src/components/toast/pharos-toast.test.ts
Labels: documentation, note/bug fix, component/button, component/loading-spinner, component/sidenav

#646 Add a11y properties to icon component
  .changeset/few-poems-crash.md
  packages/pharos/src/components/icon/PharosIcon.react.stories.jsx
  packages/pharos/src/components/icon/pharos-icon.test.ts
  packages/pharos/src/components/icon/pharos-icon.ts
  packages/pharos/src/components/icon/pharos-icon.wc.stories.jsx
  packages/pharos/src/components/icon/storyArgs.ts
Labels: status/code review, accessibility, component/icon

#660 Update all internal icon usages to use new a11y-hidden and a11y-title syntax
  .changeset/stupid-olives-compare.md
  packages/pharos-site/src/components/SearchBox.tsx
  packages/pharos-site/src/components/statics/BestPractices.tsx
  packages/pharos-site/src/components/statics/DosAndDonts.tsx
  packages/pharos-site/src/components/statics/iconography/IconsDisplay.tsx
  packages/pharos-site/src/pages/brand-expressions/color.mdx
  packages/pharos-site/src/pages/design-tokens/type-scale.mdx
  packages/pharos-site/src/pages/index.tsx
  packages/pharos-site/static/guidelines/button.docs.mdx
  packages/pharos-site/static/guidelines/footer.docs.mdx
  packages/pharos-site/static/guidelines/icon.docs.mdx
  packages/pharos-site/static/guidelines/toast.docs.mdx
  packages/pharos-site/static/guidelines/tooltip.docs.mdx
  packages/pharos/src/components/alert/pharos-alert.test.ts
  packages/pharos/src/components/alert/pharos-alert.ts
  packages/pharos/src/components/button/pharos-button.ts
  packages/pharos/src/components/combobox/pharos-combobox.ts
  packages/pharos/src/components/dropdown-menu-nav/pharos-dropdown-menu-nav-link.ts
  packages/pharos/src/components/dropdown-menu/pharos-dropdown-menu-item.ts
  packages/pharos/src/components/footer/pharos-footer.test.ts
  packages/pharos/src/components/header/PharosHeader.react.stories.jsx
  packages/pharos/src/components/header/pharos-header.wc.stories.jsx
  packages/pharos/src/components/image-card/pharos-image-card.ts
  packages/pharos/src/components/input-group/PharosInputGroup.react.stories.jsx
  packages/pharos/src/components/input-group/pharos-input-group.wc.stories.jsx
  packages/pharos/src/components/pagination/pharos-pagination.ts
  packages/pharos/src/components/select/pharos-select.ts
  packages/pharos/src/components/sidenav/pharos-sidenav-link.ts
  packages/pharos/src/components/sidenav/pharos-sidenav-menu.ts
  packages/pharos/src/components/text-input/pharos-text-input.test.ts
  packages/pharos/src/components/text-input/pharos-text-input.ts
  packages/pharos/src/components/toast/pharos-toast.ts
  packages/pharos/src/pages/home/react/HeroSearch.tsx
  packages/pharos/src/pages/home/wc/hero-search.ts
  packages/pharos/src/pages/item-detail/react/item-detail.pages.stories.tsx
  packages/pharos/src/pages/item-detail/wc/item-detail.pages.stories.ts
  packages/pharos/src/pages/shared/react/Footer.tsx
  packages/pharos/src/pages/shared/react/Header.tsx
  packages/pharos/src/pages/shared/wc/footer.ts
  packages/pharos/src/pages/shared/wc/header.ts
  packages/pharos/src/styles/tokens.react.stories.jsx
  packages/pharos/src/styles/tokens.wc.stories.jsx
Labels: status/code review, accessibility, bug

#666 Update deprecated a11y attributes in button component
  .changeset/tasty-dryers-know.md
  packages/pharos-site/static/guidelines/input-group.docs.mdx
  packages/pharos/src/components/alert/pharos-alert.ts
  packages/pharos/src/components/button/PharosButton.react.stories.jsx
  packages/pharos/src/components/button/pharos-button.test.ts
  packages/pharos/src/components/button/pharos-button.wc.stories.jsx
  packages/pharos/src/components/coach-mark/pharos-coach-mark.ts
  packages/pharos/src/components/combobox/pharos-combobox.ts
  packages/pharos/src/components/header/PharosHeader.react.stories.jsx
  packages/pharos/src/components/header/pharos-header.wc.stories.jsx
  packages/pharos/src/components/image-card/pharos-image-card.ts
  packages/pharos/src/components/input-group/PharosInputGroup.react.stories.jsx
  packages/pharos/src/components/input-group/pharos-input-group.test.ts
  packages/pharos/src/components/input-group/pharos-input-group.wc.stories.jsx
  packages/pharos/src/components/modal/pharos-modal.ts
  packages/pharos/src/components/sheet/pharos-sheet.ts
  packages/pharos/src/components/sidenav/PharosSidenav.react.stories.jsx
  packages/pharos/src/components/sidenav/pharos-sidenav-button.ts
  packages/pharos/src/components/sidenav/pharos-sidenav.test.ts
  packages/pharos/src/components/sidenav/pharos-sidenav.ts
  packages/pharos/src/components/sidenav/pharos-sidenav.wc.stories.jsx
  packages/pharos/src/components/toast/pharos-toast-button.ts
  packages/pharos/src/components/toggle-button-group/pharos-toggle-button-group.test.ts
  packages/pharos/src/components/toggle-button-group/pharos-toggle-button-group.ts
  packages/pharos/src/components/toggle-button-group/pharos-toggle-button.ts
  packages/pharos/src/pages/item-detail/react/collection-carousel/CollectionCarousel.tsx
  packages/pharos/src/pages/item-detail/react/item-carousel/ItemCarousel.tsx
  packages/pharos/src/pages/item-detail/react/item-detail.pages.stories.tsx
  packages/pharos/src/pages/item-detail/wc/collection-carousel/collection-carousel.ts
  packages/pharos/src/pages/item-detail/wc/item-carousel/item-carousel.ts
  packages/pharos/src/pages/item-detail/wc/item-detail.pages.stories.ts
  packages/pharos/src/pages/reports/react/CreateReportModal.tsx
  packages/pharos/src/pages/reports/wc/create-report-modal.ts
  packages/pharos/src/pages/shared/react/Header.tsx
  packages/pharos/src/pages/shared/react/HeaderRevised.tsx
  packages/pharos/src/pages/shared/wc/header-revised.ts
  packages/pharos/src/pages/shared/wc/header.ts
Labels: status/code review, accessibility, component/button, component/toggle-button-group

#670 DropdownMenuNav: Add pharos-elevation-level-3 token
  .changeset/gentle-onions-dance.md
  packages/pharos/src/components/dropdown-menu/pharos-dropdown-menu.scss
Labels: component/dropdown-menu-nav

#479 DropdownMenu: add nav category to replace links
  .storybook/initComponents.js
  packages/pharos-site/initComponents.tsx
  packages/pharos/src/components/dropdown-menu-nav/PharosDropdownMenuNav.react.stories.jsx
  packages/pharos/src/components/dropdown-menu-nav/pharos-dropdown-menu-nav-category.scss
  packages/pharos/src/components/dropdown-menu-nav/pharos-dropdown-menu-nav-category.ts
  packages/pharos/src/components/dropdown-menu-nav/pharos-dropdown-menu-nav-link.ts
  packages/pharos/src/components/dropdown-menu-nav/pharos-dropdown-menu-nav.ts
  packages/pharos/src/components/dropdown-menu-nav/pharos-dropdown-menu-nav.wc.stories.jsx
  packages/pharos/src/components/dropdown-menu/pharos-dropdown-menu.test.ts
  packages/pharos/src/components/dropdown-menu/pharos-dropdown-menu.ts
  packages/pharos/src/components/header/PharosHeader.react.stories.jsx
  packages/pharos/src/components/header/pharos-header.test.ts
  packages/pharos/src/components/header/pharos-header.wc.stories.jsx
  packages/pharos/src/index.ts
  packages/pharos/src/pages/shared/react/Header.tsx
  packages/pharos/src/pages/shared/react/HeaderRevised.tsx
  packages/pharos/src/pages/shared/wc/header-revised.ts
  packages/pharos/src/pages/shared/wc/header.ts
  packages/pharos/src/test/initComponents.ts
  packages/pharos/src/utils/focusable.ts
Labels: status/code review, component/dropdown-menu-nav
