Repository ithaka/pharos, pull requests merged in 2024-07, with the labels that each got.

#778 Set Content-Security-Policy in Gatsby to allow loading content in Storybook
  .changeset/weak-scissors-vanish.md
  packages/pharos-site/gatsby-config.js
Labels: note/bug fix, ithaka/pharos-site, storybook

#779 Set X-Frame-Options in netlify config
  netlify.toml
Labels: note/bug fix, ithaka/pharos-site, storybook

#781 Fix pharos site storybook links
  .changeset/cyan-boxes-cheer.md
  packages/pharos-site/src/components/ComponentExample.tsx
  packages/pharos-site/src/components/statics/PageSection.tsx
Labels: note/bug fix, ithaka/pharos-site

#782 Fix pharos-site sidenav on mobile screens
  .changeset/odd-beds-peel.md
  packages/pharos-site/src/components/Sidenav.tsx
  packages/pharos-site/src/components/layout.module.css
  packages/pharos-site/src/components/layout.tsx
  packages/pharos-site/src/components/variables.module.css
Labels: note/bug fix, ithaka/pharos-site

#784 Bump dependencies
  .yarn/install-state.gz
  package.json
  packages/pharos-cli/package.json
  packages/pharos/package.json
  yarn.lock
Labels: dependencies
