Repository ithaka/pharos, pull requests merged in 2025-03, with the labels that each got.

#897 feat(progress-bar): Add indeterminate progress bar variant
  .changeset/spicy-words-love.md
  packages/pharos/src/components/progress-bar/PharosProgressBar.react.stories.jsx
  packages/pharos/src/components/progress-bar/pharos-progress-bar.scss
  packages/pharos/src/components/progress-bar/pharos-progress-bar.test.ts
  packages/pharos/src/components/progress-bar/pharos-progress-bar.ts
  packages/pharos/src/components/progress-bar/pharos-progress-bar.wc.stories.jsx
  packages/pharos/src/components/progress-bar/storyArgs.ts
  yarn.lock
Labels: component/progress-bar

#912 fix(tabs): ensure that parent tabs don't handle nested child tab clicked accidentally
  .changeset/fresh-bars-talk.md
  packages/pharos/src/components/tabs/PharosTabs.react.stories.jsx
  packages/pharos/src/components/tabs/pharos-tabs.test.ts
  packages/pharos/src/components/tabs/pharos-tabs.ts
  packages/pharos/src/components/tabs/pharos-tabs.wc.stories.jsx
Labels: note/bug fix, status/code review, component/tabs

#916 fix(switch): make checked a boolean attribute
  .changeset/lucky-weeks-matter.md
  .tool-versions
  packages/pharos/src/components/checkbox/pharos-checkbox.test.ts
  packages/pharos/src/components/checkbox/pharos-checkbox.ts
  packages/pharos/src/components/switch/pharos-switch.test.ts
  packages/pharos/src/components/switch/pharos-switch.ts
Labels: note/bug fix, component/checkbox, component/switch

#923 fix(tests): update browser start timeout to 60s
  packages/pharos/web-test-runner.config.mjs
Labels: status/code review
