Repository ithaka/pharos, pull requests merged in 2025-07, with the labels that each got.

#1004 fix(sheet): Adding code to stop click from propagating
  .all-contributorsrc
  .changeset/khaki-needles-nail.md
  README.md
  packages/pharos/src/components/sheet/pharos-sheet.test.ts
  packages/pharos/src/components/sheet/pharos-sheet.ts
Labels: bug, component/sheet

#1008 chore(tokens): upgrade to Style Dictionary 5
  .changeset/beige-birds-travel.md
  packages/pharos/package.json
  packages/pharos/scripts/build-tokens.mjs
  packages/pharos/style-dictionary.config.js
  packages/pharos/tokens/color/base.json
  packages/pharos/tokens/components/alert.json
  packages/pharos/tokens/components/button.json
  packages/pharos/tokens/components/checkbox-group.json
  packages/pharos/tokens/components/checkbox.json
  packages/pharos/tokens/components/coach-mark.json
  packages/pharos/tokens/components/combobox.json
  packages/pharos/tokens/components/dropdown-menu-item.json
  packages/pharos/tokens/components/dropdown-menu.json
  packages/pharos/tokens/components/dropdown-multiselect.json
  packages/pharos/tokens/components/form-element.json
  packages/pharos/tokens/components/loading-spinner.json
  packages/pharos/tokens/components/modal.json
  packages/pharos/tokens/components/radio-button.json
  packages/pharos/tokens/components/radio-group.json
  packages/pharos/tokens/components/table.json
  packages/pharos/tokens/components/text-input.json
  packages/pharos/tokens/components/tooltip.json
  packages/pharos/tokens/font.json
  packages/pharos/tokens/line-height/base.json
  packages/pharos/tokens/spacing/base.json
  yarn.lock
Labels: status/code review, design tokens

#1016 Upgrade code of conduct to Contributor Covenant v2.1
  .github/CODE_OF_CONDUCT.md
  README.md
Labels: documentation, status/code review

#1018 Site: Update color page to use Style Dictionary 5 color token format
  .changeset/mighty-walls-boil.md
  packages/pharos-site/src/components/statics/color/ColorCombos.tsx
  packages/pharos-site/src/components/statics/color/ColorGradients.tsx
  packages/pharos-site/src/components/statics/color/ColorSwatches.tsx
  packages/pharos-site/src/components/statics/color/ColorTextSquares.tsx
Labels: note/bug fix, status/code review, ithaka/pharos-site

#1023 Update yarn lock to fix release 14.16.1
  yarn.lock
Labels: dependencies

#1030 fix(sheet): Moving stop propagation into correct place
  .changeset/forty-nights-cheat.md
  packages/pharos/src/components/sheet/pharos-sheet.ts
Labels: note/bug fix, component/sheet

#1038 fix(site): fix color page error and display of values
  packages/pharos-site/package.json
  packages/pharos-site/src/components/statics/color/ColorSwatches.tsx
  packages/pharos-site/src/components/statics/color/ColorTextSquares.tsx
  packages/pharos-site/src/pages/design-tokens/global-colors.tsx
  packages/pharos-site/src/utils/textConvert.ts
  packages/pharos/tokens/color/base.json
  yarn.lock
Labels: note/bug fix, status/code review, ithaka/pharos-site
