Repository ithaka/pharos, pull requests merged in 2025-06, with the labels that each got.

#942 chore(icon): sync design kit icons
  .changeset/icy-walls-tell.md
  .svglintrc.js
  packages/pharos/assets/icons/browse.svg
  packages/pharos/assets/icons/chat.svg
  packages/pharos/assets/icons/cite.svg
  packages/pharos/assets/icons/close-small.svg
  packages/pharos/assets/icons/drag-and-drop.svg
  packages/pharos/assets/icons/group.svg
  packages/pharos/assets/icons/institution.svg
  packages/pharos/assets/icons/link-external-small.svg
  packages/pharos/assets/icons/notification-unread.svg
  packages/pharos/assets/icons/notification.svg
  packages/pharos/assets/icons/page-first.svg
  packages/pharos/assets/icons/page-last.svg
  packages/pharos/assets/icons/refresh.svg
  packages/pharos/assets/icons/register.svg
  packages/pharos/assets/icons/research-tool.svg
  packages/pharos/assets/icons/save-and-close.svg
  packages/pharos/assets/icons/share.svg
  packages/pharos/assets/icons/sort.svg
  packages/pharos/assets/icons/twitter.svg
  packages/pharos/assets/icons/viewer-panel.svg
  packages/pharos/tokens/assets/icons.json
Labels: status/code review, status/needs UX review

#977 fix(icon): fix text-underline and page-break display issues
  packages/pharos/assets/icons/page-break.svg
  packages/pharos/assets/icons/text-underline.svg
Labels: note/bug fix, component/icon

#979 ImageCard: refactor to remove duplicate link & address accessibility issues
  .changeset/hip-peaches-refuse.md
  packages/pharos/src/components/image-card/PharosImageCard.react.stories.tsx
  packages/pharos/src/components/image-card/pharos-image-card.scss
  packages/pharos/src/components/image-card/pharos-image-card.test.ts
  packages/pharos/src/components/image-card/pharos-image-card.ts
  packages/pharos/src/components/image-card/pharos-image-card.wc.stories.ts
Labels: status/code review, component/image-card
